Repository alovajs/alova, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, alova, adapter-axios, adapter-graphql, adapter-mock, adapter-superagent, adapter-taro, adapter-uniapp, adapter-xhr, angular, ark-ts, client, lit, miniprogram, psc, server, shared, stencil, vue-options

.github/labeler.yml:

# See https://github.com/actions/labeler

'example':
  - examples/**/*

'ğŸš¨ action':
  - .github/workflows/**

'alova':
  - packages/alova/**

'adapter-axios':
  - packages/adapter-axios/**

'adapter-graphql':
  - packages/adapter-graphql/**

'adapter-mock':
  - packages/adapter-mock/**

'adapter-superagent':
  - packages/adapter-superagent/**

'adapter-taro':
  - packages/adapter-taro/**

'adapter-uniapp':
  - packages/adapter-uniapp/**

'adapter-xhr':
  - packages/adapter-xhr/**

'angular':
  - packages/angular/**

'ark-ts':
  - packages/ark-ts/**

'client':
  - packages/client/**

'lit':
  - packages/lit/**

'miniprogram':
  - packages/miniprogram/**

'psc':
  - packages/psc/**

'server':
  - packages/server/**

'shared':
  - packages/shared/**

'stencil':
  - packages/stencil/**

'vue-options':
  - packages/vue-options/**

docs: enlarge sponsor logos in README files
  README.ja-JP.md
  README.md
  README.zh-CN.md
  packages/alova/README.md
  packages/alova/README.zh-CN.md
Labels: alova

fix: unify request state cleanup on component unmount
  .changeset/unified-onunmounted-cleanup.md
  packages/alova/typings/clienthook/helper.d.ts
  packages/alova/typings/index.d.ts
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/hooks/sse/useSSE.ts
  packages/client/src/hooks/uploader/useUploader.ts
  packages/client/src/hooks/useRetriableRequest.ts
  packages/client/src/statesHook/nuxt.ts
  packages/client/src/statesHook/react.ts
  packages/client/src/statesHook/solid.ts
  packages/client/src/statesHook/svelte.ts
  packages/client/src/statesHook/vue-demi.ts
  packages/client/src/statesHook/vue.ts
  packages/client/src/util/helper.ts
  packages/client/test/react/useRequest-event-unbind.spec.tsx
  packages/client/typings/clienthook/helper.d.ts
  packages/vue-options/src/stateHook.ts
Labels: alova, client, vue-options

fix(shared): encode param values via encodeURIComponent in buildCompletedURL
  packages/shared/src/function.ts
  packages/shared/test/function.spec.ts
Labels: shared

test(client): use ASCII tag in useAutoRequest polling spec to avoid encodeURIComponent
  packages/client/test/react/useAutoRequest.spec.tsx
Labels: client

fix: unify request state cleanup on component unmount (#853)
  .changeset/unified-onunmounted-cleanup.md
  packages/alova/typings/clienthook/helper.d.ts
  packages/alova/typings/index.d.ts
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/hooks/sse/useSSE.ts
  packages/client/src/hooks/uploader/useUploader.ts
  packages/client/src/hooks/useRetriableRequest.ts
  packages/client/src/statesHook/nuxt.ts
  packages/client/src/statesHook/react.ts
  packages/client/src/statesHook/solid.ts
  packages/client/src/statesHook/svelte.ts
  packages/client/src/statesHook/vue-demi.ts
  packages/client/src/statesHook/vue.ts
  packages/client/src/util/helper.ts
  packages/client/test/react/useAutoRequest.spec.tsx
  packages/client/test/react/useRequest-event-unbind.spec.tsx
  packages/client/typings/clienthook/helper.d.ts
  packages/shared/src/function.ts
  packages/shared/test/function.spec.ts
  packages/vue-options/src/stateHook.ts
Labels: alova, client, shared, vue-options

feat(sse): pluggable EventSource for cross-platform useSSE
  .changeset/sse-event-source-abstraction.md
  packages/adapter-taro/src/TaroEventSource.ts
  packages/adapter-taro/src/exportedAdapter.ts
  packages/adapter-taro/src/hooks.ts
  packages/adapter-taro/test/TaroEventSource.spec.ts
  packages/adapter-taro/test/hooks.spec.ts
  packages/adapter-taro/test/requestAdapter.spec.ts
  packages/adapter-taro/vitest.config.fast.ts
  packages/adapter-uniapp/src/UniappEventSource.ts
  packages/adapter-uniapp/src/hooks.ts
  packages/adapter-uniapp/src/index.ts
  packages/adapter-uniapp/test/UniappEventSource.spec.ts
  packages/adapter-uniapp/test/hooks.spec.ts
  packages/adapter-uniapp/test/requestAdapter.spec.ts
  packages/adapter-uniapp/vitest.config.fast.ts
  packages/alova/typings/clienthook/general.d.ts
  packages/alova/typings/clienthook/hooks/useSSE.d.ts
  packages/alova/typings/clienthook/hooks/useUploader.d.ts
  packages/client/src/hooks/core/implements/useHookToSendRequest.ts
  packages/client/src/hooks/sse/useSSE.ts
  packages/client/src/index.ts
  packages/client/src/util/helper.ts
  packages/client/test/helper.spec.ts
  packages/client/test/vue/useSSE.spec.ts
  packages/client/typings/clienthook/general.d.ts
  packages/client/typings/clienthook/hooks/useSSE.d.ts
  packages/client/typings/clienthook/hooks/useUploader.d.ts
  packages/client/vitest.config.fast.ts
Labels: alova, adapter-taro, adapter-uniapp, client

chore: update changeset to include alova package
  .changeset/unified-onunmounted-cleanup.md
Labels: none
