Repository alovajs/alova, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, alova, adapter-axios, adapter-graphql, adapter-mock, adapter-superagent, adapter-taro, adapter-uniapp, adapter-xhr, angular, ark-ts, client, lit, miniprogram, psc, server, shared, stencil, vue-options

feat: v3.4 (#778)
  .changeset/brown-carrots-turn.md
  .changeset/few-carpets-jog.md
  .changeset/grumpy-drinks-explain.md
  .changeset/rude-crabs-return.md
  .changeset/twenty-cars-sip.md
  .changeset/twenty-donkeys-ring.md
  internal/mockServer.ts
  internal/testUtils.ts
  packages/adapter-xhr/src/requestAdapter.ts
  packages/adapter-xhr/test/requestAdapter.spec.ts
  packages/alova/src/Method.ts
  packages/alova/src/predefine/adapterFetch.ts
  packages/alova/test/browser/global/methodInstance.spec.ts
  packages/alova/test/browser/requestAdapter/GlobalFetch.spec.ts
  packages/alova/typings/clienthook/general.d.ts
  packages/alova/typings/clienthook/hooks/useUploader.d.ts
  packages/alova/typings/index.d.ts
  packages/alova/typings/serverhook.d.ts
  packages/client/README.md
  packages/client/src/hooks/uploader/useUploader.ts
  packages/client/test/vue/core/hooks/useRequest-http.spec.ts
  packages/client/typings/clienthook/general.d.ts
  packages/client/typings/clienthook/hooks/useUploader.d.ts
  packages/server/src/hooks/atomize.ts
  packages/server/src/hooks/retry.ts
  packages/server/src/index.ts
  packages/server/test/atomize.spec.ts
  packages/storage-file/package.json
  packages/storage-file/src/FileLocker.ts
  packages/storage-file/src/FileStorageAdapter.ts
  packages/storage-file/test/locker.spec.ts
  packages/storage-file/tsconfig.json
  packages/storage-redis/package.json
  packages/storage-redis/src/RedisLocker.ts
  packages/storage-redis/src/RedisStorageAdapter.ts
  packages/storage-redis/test/locker.spec.ts
  packages/storage-redis/test/redis.spec.ts
  pnpm-lock.yaml
Labels: alova, adapter-xhr, client, server

fix: v3.4.1
  .changeset/calm-jeans-kneel.md
  .changeset/seven-ways-suffer.md
  packages/alova/src/defaults/cacheAdapter.ts
  packages/alova/src/functions/manipulateCache.ts
  packages/alova/test/browser/behavior/l2Cache.spec.ts
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/test/react/usePagination.spec.tsx
  packages/client/test/vue/usePagination.spec.ts
  packages/shared/src/function.ts
  packages/shared/typings/alova-shared.d.ts
Labels: alova, client, shared

fix: v3.4.1 (#781)
  .changeset/calm-jeans-kneel.md
  .changeset/seven-ways-suffer.md
  packages/alova/src/defaults/cacheAdapter.ts
  packages/alova/src/functions/manipulateCache.ts
  packages/alova/test/browser/behavior/l2Cache.spec.ts
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/test/react/usePagination.spec.tsx
  packages/client/test/vue/usePagination.spec.ts
  packages/shared/src/function.ts
  packages/shared/typings/alova-shared.d.ts
Labels: alova, client, shared

feat: support set custom `fetch` function in fetch adapter, fix that throw error in sveltekit
  .changeset/purple-shirts-clap.md
  .changeset/serious-bobcats-sort.md
  packages/alova/src/predefine/adapterFetch.ts
  packages/alova/test/browser/requestAdapter/GlobalFetch.spec.ts
  packages/alova/typings/fetch.d.cts
  packages/alova/typings/fetch.d.ts
  packages/client/src/statesHook/svelte.ts
Labels: alova, client

test: correct test lint
  packages/alova/test/browser/requestAdapter/GlobalFetch.spec.ts
Labels: alova

release: v3.5.0 (#794)
  .changeset/purple-shirts-clap.md
  .changeset/serious-bobcats-sort.md
  packages/alova/src/predefine/adapterFetch.ts
  packages/alova/test/browser/requestAdapter/GlobalFetch.spec.ts
  packages/alova/typings/fetch.d.cts
  packages/alova/typings/fetch.d.ts
  packages/client/src/statesHook/svelte.ts
Labels: alova, client

fix: ensure the file directory is exists
  packages/storage-file/src/FileStorageAdapter.ts
Labels: none

fix: ensure the file directory is exists (#796)
  packages/storage-file/src/FileStorageAdapter.ts
Labels: none

fix: detech ssr in `onUnmount` to prevent error in svelitekit
  .changeset/smooth-dryers-carry.md
  packages/client/src/statesHook/svelte.ts
Labels: client

fix: detech ssr in `onUnmount` to prevent error in svelitekit (#797)
  .changeset/smooth-dryers-carry.md
  packages/client/src/statesHook/svelte.ts
Labels: client

fix: only clear alova related caches in uniapp and taro
  .changeset/silent-crews-peel.md
  packages/adapter-taro/__mocks__/@tarojs/taro.ts
  packages/adapter-taro/src/l2CacheAdapter.ts
  packages/adapter-taro/test/storageAdapter.spec.ts
  packages/adapter-uniapp/src/l2CacheAdapter.ts
  packages/adapter-uniapp/test/setup.ts
  packages/adapter-uniapp/test/storageAdapter.spec.ts
Labels: adapter-taro, adapter-uniapp

fix: only clear alova related caches in uniapp and taro (#807)
  .changeset/silent-crews-peel.md
  packages/adapter-taro/__mocks__/@tarojs/taro.ts
  packages/adapter-taro/src/l2CacheAdapter.ts
  packages/adapter-taro/test/storageAdapter.spec.ts
  packages/adapter-uniapp/src/l2CacheAdapter.ts
  packages/adapter-uniapp/test/setup.ts
  packages/adapter-uniapp/test/storageAdapter.spec.ts
Labels: adapter-taro, adapter-uniapp

fix: cannot work when set `mockRequestLogger` to true in mock adapter
  .changeset/odd-cycles-train.md
  package.json
  packages/adapter-mock/src/MockRequest.ts
  packages/adapter-mock/src/helper.ts
  packages/adapter-mock/test/mockRequest.spec.ts
  pnpm-lock.yaml
Labels: adapter-mock

fix: cannot work when set `mockRequestLogger` to true in mock adapter (#808)
  .changeset/odd-cycles-train.md
  package.json
  packages/adapter-mock/src/MockRequest.ts
  packages/adapter-mock/src/helper.ts
  packages/adapter-mock/test/mockRequest.spec.ts
  pnpm-lock.yaml
Labels: adapter-mock

fix: fix that throw error in `onMockResponse` will trigger `onMockError`, axios typo
  .changeset/hot-rockets-count.md
  packages/adapter-axios/src/mockResponse.ts
  packages/adapter-axios/test/browser/mockResponse.spec.ts
  packages/adapter-axios/typings/index.d.ts
  packages/adapter-mock/src/MockRequest.ts
Labels: adapter-axios, adapter-mock

fix: fix that throw error in `onMockResponse` will trigger `onMockError`, axios typo (#811)
  .changeset/hot-rockets-count.md
  packages/adapter-axios/src/mockResponse.ts
  packages/adapter-axios/test/browser/mockResponse.spec.ts
  packages/adapter-axios/typings/index.d.ts
  packages/adapter-mock/src/MockRequest.ts
Labels: adapter-axios, adapter-mock

docs: add Japanese README
  README.ja-JP.md
  README.md
  README.zh-CN.md
Labels: none

fix: fix that draft of `useForm` is not effect in react, cole.groupCollapsed is not a function
  .changeset/itchy-boxes-fly.md
  .changeset/three-drinks-scream.md
  packages/adapter-mock/src/consoleRequestInfo.ts
  packages/adapter-mock/test/mockRequest.spec.ts
  packages/alova/typings/serverhook.d.ts
  packages/client/src/hooks/useForm.ts
  packages/client/test/react/useForm.spec.tsx
  packages/shared/typings/alova-shared.d.ts
Labels: alova, adapter-mock, client, shared

fix: fix that doesn't call `beforeRequest` in `useSSE`
  .changeset/late-bobcats-cry.md
  packages/alova/src/functions/sendRequest.ts
  packages/alova/src/utils/cloneMethod.ts
  packages/alova/typings/serverhook.d.ts
  packages/client/src/hooks/sse/useSSE.ts
  packages/client/test/react/useSSE.spec.tsx
  packages/client/test/vue/useSSE.spec.ts
  packages/shared/src/cloneMethod.ts
  packages/shared/src/index.ts
  packages/shared/typings/alova-shared.d.ts
  scripts/src/build/index.js
  scripts/src/build/tsdown.config.js
Labels: alova, client, shared

fix: fix that fetch_1.default is not a function
  .changeset/short-eagles-give.md
  packages/alova/test/server/cjsInterop.spec.ts
  scripts/src/build/tsdown.config.js
Labels: alova

fix: fix that always loading when change method instance in middleware
  .changeset/chilled-gorillas-exist.md
  packages/client/src/hooks/core/implements/useHookToSendRequest.ts
  packages/client/test/react/usePagination.spec.tsx
  packages/client/test/vue/usePagination.spec.ts
Labels: client

fix: fix that cannot read properties of undefined when call remove in `usePagination`
  .changeset/smart-apes-sing.md
  packages/alova/typings/clienthook/hooks/actionDelegationMiddleware.d.ts
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/src/index.ts
  packages/client/src/middlewares/actionDelegation.ts
  packages/client/test/mockData.ts
  packages/client/test/react/actionDelegationMiddleware.spec.tsx
  packages/client/test/react/usePagination.spec.tsx
  packages/client/test/vue/usePagination.spec.ts
  packages/client/typings/clienthook/hooks/actionDelegationMiddleware.d.ts
Labels: alova, client

fix: lint fix
  eslint.config.js
  packages/adapter-taro/package.json
  packages/client/test/react/components/Pagination.tsx
  packages/client/test/react/usePagination.spec.tsx
Labels: adapter-taro, client

fix: memory overflow fix
  .changeset/olive-pets-arrive.md
  packages/alova/src/alova.ts
  packages/alova/src/functions/manipulateCache.ts
  packages/alova/src/functions/sendRequest.ts
  packages/alova/src/storage/CacheAdapterManager.ts
  packages/alova/test/browser/behavior/share-request.spec.ts
  packages/alova/test/browser/global/cacheAdapterManager.spec.ts
  tsconfig.base.json
Labels: alova

docs: update English README to match alova.js.org homepage and introduce page
  README.md
Labels: none

docs: update Chinese and Japanese README to match alova.js.org homepage and introduce page
  README.ja-JP.md
  README.zh-CN.md
Labels: none

docs: align package metadata and READMEs with official site messaging
  .changeset/z1-consistency.md
  README.ja-JP.md
  README.md
  README.zh-CN.md
  packages/alova/README.md
  packages/alova/package.json
Labels: alova

fix(client): unbind useRequest event handlers on component unmount to prevent listener leak
  .changeset/fix-use-request-event-unbind.md
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/test/vue/useRequest-event-unbind.spec.ts
  packages/shared/src/createEventManager.ts
  packages/shared/typings/alova-shared.d.ts
Labels: client, shared

chore: format correct
  README.ja-JP.md
  README.md
  README.zh-CN.md
  packages/alova/README.md
  packages/shared/typings/alova-shared.d.ts
Labels: alova, shared

fix: keep examples fork-installable and link local packages in monorepo
  package.json
  packages/psc/package.json
  packages/psc/src/defaults/electronSyncAdapter.ts
  packages/psc/test/sharedCache.spec.ts
  pnpm-lock.yaml
Labels: psc

fix: unbind useRequest handlers on unmount and fix cross-platform IPC/locker tests
  packages/adapter-taro/test/requestAdapter.spec.ts
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/test/react/components/Pagination.tsx
  packages/client/test/react/useRequest-event-unbind.spec.tsx
  packages/psc/src/defaults/nodeSyncAdapter.ts
  packages/psc/src/sharedCacheAdapter.ts
  packages/psc/test/sharedCache.spec.ts
  packages/server/test/atomize.spec.ts
  packages/storage-file/test/locker.spec.ts
  packages/vue-options/src/stateHook.ts
Labels: adapter-taro, client, psc, server, vue-options

fix(client): unbind useRequest event handlers on component unmount (#834)
  .changeset/fix-use-request-event-unbind.md
  README.ja-JP.md
  README.md
  README.zh-CN.md
  package.json
  packages/adapter-taro/test/requestAdapter.spec.ts
  packages/alova/README.md
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/test/react/components/Pagination.tsx
  packages/client/test/react/useRequest-event-unbind.spec.tsx
  packages/client/test/vue/useRequest-event-unbind.spec.ts
  packages/psc/package.json
  packages/psc/src/defaults/electronSyncAdapter.ts
  packages/psc/src/defaults/nodeSyncAdapter.ts
  packages/psc/src/sharedCacheAdapter.ts
  packages/psc/test/sharedCache.spec.ts
  packages/server/test/atomize.spec.ts
  packages/shared/src/createEventManager.ts
  packages/storage-file/test/locker.spec.ts
  packages/vue-options/src/stateHook.ts
  pnpm-lock.yaml
Labels: alova, adapter-taro, client, psc, server, shared, vue-options

build(deps): upgrade vitest to v4( unfinish)
  package.json
  packages/alova/test/browser/behavior/share-request.spec.ts
  packages/alova/test/browser/global/methodInstance.spec.ts
  packages/client/src/hooks/uploader/useUploader.ts
  packages/client/test/react/core/useRequest.spec.tsx
  packages/client/test/vue/core/middleware/useRequest.spec.ts
  packages/client/test/vue/useUploader.spec.ts
  packages/client/vitest.config.ts
  packages/server/test/atomize.spec.ts
  packages/server/test/rateLimit.spec.ts
  packages/server/tsconfig.json
  packages/storage-file/test/locker.spec.ts
  packages/storage-redis/test/locker.spec.ts
  packages/storage-redis/test/redis.spec.ts
  packages/vue-options/package.json
  packages/vue-options/vitest.config.vue2.ts
  pnpm-lock.yaml
  vitest.config.base.ts
  vitest.config.ts
  vitest.workspace.ts
Labels: alova, client, server, vue-options

chore: upgrade Node to 22 and fix Node type resolution in tsconfig
  .github/workflows/pr.yml
  .github/workflows/release-next.yml
  .github/workflows/release.yml
  examples/react/package.json
  examples/server/package.json
  examples/solid/package.json
  examples/svelte/package.json
  examples/vue/package.json
  internal/mockServer.ts
  package.json
  packages/adapter-axios/tsconfig.json
  packages/adapter-mock/tsconfig.json
  packages/adapter-taro/__mocks__/@tarojs/taro.ts
  packages/adapter-taro/tsconfig.json
  packages/adapter-uniapp/test/setup.ts
  packages/adapter-uniapp/tsconfig.json
  packages/adapter-xhr/src/requestAdapter.ts
  packages/adapter-xhr/test/requestAdapter.spec.ts
  packages/adapter-xhr/tsconfig.json
  packages/adapter-xhr/vitest.config.ts
  packages/alova/tsconfig.json
  packages/client/tsconfig.json
  packages/psc/tsconfig.json
  packages/server/test/rateLimit.spec.ts
  packages/server/tsconfig.json
  packages/shared/tsconfig.json
  packages/shared/typings/alova-shared.d.ts
  packages/storage-file/tsconfig.json
  packages/storage-redis/tsconfig.json
  packages/vue-options/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  vitest.config.base.ts
Labels: example, ğŸš¨ action, alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, shared, vue-options

chore: update pnpm-lock.yaml for @types/node 22
  pnpm-lock.yaml
Labels: none

fix: use arrow callbacks in storage-redis tests to satisfy prefer-arrow-callback
  packages/storage-redis/test/locker.spec.ts
  packages/storage-redis/test/redis.spec.ts
Labels: none

fix: use concise arrow body in storage-redis tests to satisfy arrow-body-style
  packages/storage-redis/test/locker.spec.ts
  packages/storage-redis/test/redis.spec.ts
Labels: none

fix: use function expressions for constructable redis mocks
  packages/storage-redis/test/locker.spec.ts
  packages/storage-redis/test/redis.spec.ts
Labels: none

fix(client): invalid signal when passed to fetch
  packages/alova/src/predefine/adapterFetch.ts
Labels: alova

docs: add sponsors section to README files
  .changeset/sponsors-readme.patch.md
  README.ja-JP.md
  README.md
  README.zh-CN.md
  packages/alova/README.md
  packages/alova/README.zh-CN.md
Labels: alova

.github/labeler.yml:

# See https://github.com/actions/labeler

'example':
  - examples/**/*

'ğŸš¨ action':
  - .github/workflows/**

'alova':
  - packages/alova/**

'adapter-axios':
  - packages/adapter-axios/**

'adapter-graphql':
  - packages/adapter-graphql/**

'adapter-mock':
  - packages/adapter-mock/**

'adapter-superagent':
  - packages/adapter-superagent/**

'adapter-taro':
  - packages/adapter-taro/**

'adapter-uniapp':
  - packages/adapter-uniapp/**

'adapter-xhr':
  - packages/adapter-xhr/**

'angular':
  - packages/angular/**

'ark-ts':
  - packages/ark-ts/**

'client':
  - packages/client/**

'lit':
  - packages/lit/**

'miniprogram':
  - packages/miniprogram/**

'psc':
  - packages/psc/**

'server':
  - packages/server/**

'shared':
  - packages/shared/**

'stencil':
  - packages/stencil/**

'vue-options':
  - packages/vue-options/**
