Repository alovajs/alova, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, alova, adapter-axios, adapter-graphql, adapter-mock, adapter-superagent, adapter-taro, adapter-uniapp, adapter-xhr, angular, ark-ts, client, lit, miniprogram, psc, server, shared, stencil, vue-options

.github/labeler.yml:

# See https://github.com/actions/labeler

'example':
  - examples/**/*

'ğŸš¨ action':
  - .github/workflows/**

'alova':
  - packages/alova/**

'adapter-axios':
  - packages/adapter-axios/**

'adapter-graphql':
  - packages/adapter-graphql/**

'adapter-mock':
  - packages/adapter-mock/**

'adapter-superagent':
  - packages/adapter-superagent/**

'adapter-taro':
  - packages/adapter-taro/**

'adapter-uniapp':
  - packages/adapter-uniapp/**

'adapter-xhr':
  - packages/adapter-xhr/**

'angular':
  - packages/angular/**

'ark-ts':
  - packages/ark-ts/**

'client':
  - packages/client/**

'lit':
  - packages/lit/**

'miniprogram':
  - packages/miniprogram/**

'psc':
  - packages/psc/**

'server':
  - packages/server/**

'shared':
  - packages/shared/**

'stencil':
  - packages/stencil/**

'vue-options':
  - packages/vue-options/**

feat: initial publish @alova/storage-redis @alova/storage-file
  .changeset/proud-moons-prove.md
  packages/storage-file/CHANGELOG.md
  packages/storage-file/README.md
  packages/storage-file/build.json
  packages/storage-file/package.json
  packages/storage-file/src/FileStorageAdapter.ts
  packages/storage-file/src/index.ts
  packages/storage-file/test/localfile.spec.ts
  packages/storage-file/tsconfig.json
  packages/storage-file/vitest.config.ts
  packages/storage-redis/CHANGELOG.md
  packages/storage-redis/README.md
  packages/storage-redis/build.json
  packages/storage-redis/package.json
  packages/storage-redis/src/RedisStorageAdapter.ts
  packages/storage-redis/src/index.ts
  packages/storage-redis/test/redis.spec.ts
  packages/storage-redis/tsconfig.json
  packages/storage-redis/vitest.config.ts
Labels: none

fix: type check fix
  internal/mockServer.ts
  packages/client/src/hooks/sse/EventSourceFetch.ts
Labels: client

fix: type fix
  internal/mockServer.ts
  package.json
  packages/client/src/hooks/silent/storage/performers.ts
  packages/client/src/hooks/sse/EventSourceFetch.ts
  packages/client/src/hooks/sse/event.ts
  packages/client/test/vue/core/hooks/useRequest-method.spec.ts
  packages/shared/typings/alova-shared.d.ts
  pnpm-lock.yaml
Labels: client, shared

chore: regenerate pnpm-lock file
  examples/react/package.json
  examples/solid/package.json
  examples/svelte/package.json
  examples/vue/package.json
  pnpm-lock.yaml
Labels: example

chore: reset the msw to 2.3.x, the high version has bug
  package.json
  pnpm-lock.yaml
Labels: none

fix: fix the type of `useSSE`, vitest config of adapter-axios
  packages/adapter-axios/vitest.config.ts
  packages/client/src/hooks/sse/event.ts
  packages/client/src/hooks/sse/useSSE.ts
  packages/client/tsconfig.vitest-temp.json
  packages/client/typings/clienthook/hooks/useSSE.d.ts
Labels: adapter-axios, client

feat: add `then` in hook exposure, so that you can call hook with `await` in nuxt3
  .changeset/famous-boxes-smile.md
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/util/helper.ts
  packages/client/test/ssr/hooks-vue.spec.ts
  packages/client/test/vue/core/hooks/useRequest-http.spec.ts
  packages/client/test/vue/core/hooks/useRequest-otherData.spec.ts
  packages/client/test/vue/core/hooks/useWatcher.spec.ts
  packages/client/test/vue/usePagination.spec.ts
  packages/client/tsconfig.vitest-temp.json
  packages/client/typings/clienthook/general.d.ts
Labels: client

fix: delay update `isLastPage` so that it can wait for the `loading` state to be updated
  .changeset/great-numbers-poke.md
  examples/react/package.json
  examples/solid/package.json
  examples/svelte/package.json
  examples/vue/package.json
  package.json
  packages/client/src/hooks/pagination/usePagination.ts
  pnpm-lock.yaml
Labels: example, client

fix: pass usePagination tests
  packages/client/src/hooks/pagination/usePagination.ts
Labels: client

fix: fix that dhy and watch in `vue-options`
  packages/client/src/util/helper.ts
  packages/shared/src/bridge.ts
  packages/shared/src/index.ts
  packages/shared/typings/alova-shared.d.ts
  packages/vue-options/src/mapAlovaHook.ts
  packages/vue-options/src/stateHook.ts
  packages/vue-options/typings/index.d.ts
Labels: client, shared, vue-options

fix: fix referingObject in `createRequestState`
  packages/client/src/hooks/core/implements/createRequestState.ts
Labels: client

Potential fix for code scanning alert no. 18: Prototype-polluting assignment
  packages/vue-options/src/stateHook.ts
Labels: vue-options

fix: fix that cannot update state which is the same key but distribute in different component
  .changeset/giant-dragons-relate.md
  packages/alova/typings/index.d.ts
  packages/client/src/hooks/core/implements/createHook.ts
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/hooks/core/implements/stateCache.ts
  packages/client/src/hooks/core/implements/useHookToSendRequest.ts
  packages/client/src/statesHook/react.ts
  packages/client/src/updateState.ts
  packages/client/test/react/actionDelegationMiddleware.spec.tsx
  packages/client/test/react/core/update-state.spec.tsx
  packages/client/test/react/core/useRequest.spec.tsx
  packages/client/test/react/useAutoRequest.spec.tsx
  packages/client/test/solid/statesHook.solid.spec.tsx
  packages/client/test/svelte/core/update-state.spec.ts
  packages/client/test/vue/core/functional/update-state.spec.ts
  packages/client/typings/clienthook/general.d.ts
Labels: alova, client

fix: delay update `isLastPage` so that it can wait for the `loading` state to be updated (#686)
  .changeset/great-numbers-poke.md
  examples/react/package.json
  examples/solid/package.json
  examples/svelte/package.json
  examples/vue/package.json
  package.json
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/src/util/helper.ts
  packages/shared/src/bridge.ts
  packages/shared/src/index.ts
  packages/shared/typings/alova-shared.d.ts
  packages/vue-options/src/mapAlovaHook.ts
  packages/vue-options/src/stateHook.ts
  packages/vue-options/typings/index.d.ts
  pnpm-lock.yaml
Labels: example, client, shared, vue-options

fix: fix that cannot update state which is the same key but distribute in different component (#687)
  .changeset/giant-dragons-relate.md
  packages/alova/typings/index.d.ts
  packages/client/src/hooks/core/implements/createHook.ts
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/hooks/core/implements/stateCache.ts
  packages/client/src/hooks/core/implements/useHookToSendRequest.ts
  packages/client/src/statesHook/react.ts
  packages/client/src/updateState.ts
  packages/client/test/react/actionDelegationMiddleware.spec.tsx
  packages/client/test/react/core/update-state.spec.tsx
  packages/client/test/react/core/useRequest.spec.tsx
  packages/client/test/react/useAutoRequest.spec.tsx
  packages/client/test/solid/statesHook.solid.spec.tsx
  packages/client/test/svelte/core/update-state.spec.ts
  packages/client/test/vue/core/functional/update-state.spec.ts
  packages/client/typings/clienthook/general.d.ts
Labels: alova, client

chore: add bridge to client hooks in module shared
  .changeset/tender-beers-vanish.md
Labels: none

chore: add bridge to client hooks in module shared (#690)
  .changeset/tender-beers-vanish.md
Labels: none

fix: modify the RC type in AlovaGenerics from any to unknown,
  packages/alova/typings/index.d.ts
Labels: alova

fix: fix `useUploader` bugs and add abort action
  packages/alova/typings/clienthook/hooks/useUploader.d.ts
  packages/client/src/hooks/uploader/useUploader.ts
  packages/client/test/vue/useUploader.spec.ts
  packages/client/typings/clienthook/hooks/useUploader.d.ts
Labels: alova, client

feat: compatible with current redis instance in @alova/storage-redis
  packages/storage-redis/src/RedisStorageAdapter.ts
Labels: none

feat(nuxt): add statesHook for nuxt
  .changeset/famous-boxes-smile.md
  .changeset/silent-dragons-learn.md
  package.json
  packages/alova/package.json
  packages/alova/typings/clienthook/general.d.ts
  packages/alova/typings/clienthook/hooks/usePagination.d.ts
  packages/alova/typings/clienthook/hooks/useSSE.d.ts
  packages/alova/typings/clienthook/hooks/useUploader.d.ts
  packages/alova/typings/clienthook/index.d.ts
  packages/alova/typings/stateshook/nuxt.d.ts
  packages/client/build.json
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/statesHook/nuxt.ts
  packages/client/test/nuxt/stateshook.spec.ts
  packages/client/test/ssr/components/page-useRequest.svelte
  packages/client/test/ssr/hooks-svelte.spec.ts
  packages/client/typings/stateshook/nuxt.d.ts
  packages/shared/typings/alova-shared.d.ts
  pnpm-lock.yaml
Labels: alova, client, shared

test: test nuxt states hook and fix some other tests
  packages/client/src/statesHook/nuxt.ts
  packages/client/src/util/serializer/index.ts
  packages/client/test/modules/serializer.spec.ts
  packages/client/test/nuxt/stateshook-client.spec.ts
  packages/client/test/nuxt/stateshook-common.spec.ts
  packages/client/test/nuxt/stateshook-server.spec.ts
  packages/client/test/nuxt/stateshook.spec.ts
  packages/client/test/ssr/components/page-useRequest.svelte
  packages/client/test/ssr/hooks-svelte.spec.ts
  packages/client/test/vue/core/hooks/useRequest-http.spec.ts
  packages/client/test/vue/core/hooks/useWatcher.spec.ts
  packages/client/test/vue/usePagination.spec.ts
  packages/client/tsconfig.vitest-temp.json
  packages/shared/typings/alova-shared.d.ts
Labels: client, shared

refactor: modify `serializer` to `serializers` and modify tests
  packages/client/src/statesHook/nuxt.ts
  packages/client/test/nuxt/stateshook-client.spec.ts
  packages/client/test/nuxt/stateshook-common.spec.ts
  packages/client/test/nuxt/stateshook-server.spec.ts
  packages/client/typings/stateshook/nuxt.d.ts
Labels: client

feat: update the MethodType type to support string extension
  packages/alova/typings/index.d.ts
Labels: alova

docs: update README.md on all sub packages
  README.md
  README.zh-CN.md
  packages/adapter-axios/README.md
  packages/adapter-mock/README.md
  packages/adapter-taro/README.md
  packages/adapter-uniapp/README.md
  packages/adapter-xhr/README.md
  packages/alova/README.md
  packages/alova/README.zh-CN.md
  packages/client/README.md
  packages/psc/README.md
  packages/server/README.md
  packages/shared/README.md
  packages/storage-file/README.md
  packages/vue-options/README.md
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, shared, vue-options

docs: modify video link in README.md
  README.md
  README.zh-CN.md
  packages/alova/README.md
  packages/alova/README.zh-CN.md
Labels: alova

docs: modify comparasion in README.md
  README.md
  README.zh-CN.md
  packages/alova/README.md
  packages/alova/README.zh-CN.md
Labels: alova

chore: release redis storage adapter
  .changeset/long-lobsters-wonder.md
Labels: none

chore: release redis storage adapter (#701)
  .changeset/long-lobsters-wonder.md
Labels: none

chore: release redis storage adapter
  .changeset/ten-planets-arrive.md
  packages/storage-redis/CHANGELOG.md
Labels: none

chore: release redis storage adapter (#703)
  .changeset/ten-planets-arrive.md
  packages/storage-redis/CHANGELOG.md
Labels: none

chore: release redis storage adapter
  .changeset/perfect-rules-sleep.md
Labels: none

chore: release redis storage adapter (#705)
  .changeset/perfect-rules-sleep.md
Labels: none

chore: remove private attr in storage redis
  packages/storage-file/src/FileStorageAdapter.ts
  packages/storage-redis/package.json
Labels: none

Release/storage redis (#707)
  .changeset/perfect-rules-sleep.md
  packages/storage-file/src/FileStorageAdapter.ts
  packages/storage-redis/package.json
Labels: none

build: add `skipLibCheck` to typescript in rollup build
  package.json
  packages/alova/package.json
  packages/alova/typings/clienthook/general.d.ts
  packages/alova/typings/stateshook/nuxt.d.ts
  packages/shared/typings/alova-shared.d.ts
  pnpm-lock.yaml
  scripts/src/build/rollup.config.js
Labels: alova, shared

build: add `skipLibCheck` to typescript in rollup build (#709)
  package.json
  packages/alova/package.json
  packages/alova/typings/clienthook/general.d.ts
  packages/alova/typings/stateshook/nuxt.d.ts
  packages/shared/typings/alova-shared.d.ts
  pnpm-lock.yaml
  scripts/src/build/rollup.config.js
Labels: alova, shared

详细可见：https://github.com/alovajs/alova/issues/711
  packages/alova/src/predefine/adapterFetch.ts
Labels: alova

详细可见：https://github.com/alovajs/alova/issues/711
  .changeset/khaki-eagles-wash.md
Labels: none

fix:https://github.com/alovajs/alova/issues/711
  .changeset/hot-bears-design.md
  packages/alova/src/predefine/adapterFetch.ts
Labels: alova
