Repository alovajs/alova, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, alova, adapter-axios, adapter-graphql, adapter-mock, adapter-superagent, adapter-taro, adapter-uniapp, adapter-xhr, angular, ark-ts, client, lit, miniprogram, psc, server, shared, stencil, vue-options

.github/labeler.yml:

# See https://github.com/actions/labeler

'example':
  - examples/**/*

'ğŸš¨ action':
  - .github/workflows/**

'alova':
  - packages/alova/**

'adapter-axios':
  - packages/adapter-axios/**

'adapter-graphql':
  - packages/adapter-graphql/**

'adapter-mock':
  - packages/adapter-mock/**

'adapter-superagent':
  - packages/adapter-superagent/**

'adapter-taro':
  - packages/adapter-taro/**

'adapter-uniapp':
  - packages/adapter-uniapp/**

'adapter-xhr':
  - packages/adapter-xhr/**

'angular':
  - packages/angular/**

'ark-ts':
  - packages/ark-ts/**

'client':
  - packages/client/**

'lit':
  - packages/lit/**

'miniprogram':
  - packages/miniprogram/**

'psc':
  - packages/psc/**

'server':
  - packages/server/**

'shared':
  - packages/shared/**

'stencil':
  - packages/stencil/**

'vue-options':
  - packages/vue-options/**

test: solid unit tests
  package.json
  packages/client/src/statesHook/solid.ts
  packages/client/test/solid/statesHook.solid.spec.tsx
  packages/client/test/solid/vitestDemo/basics.tsx
  packages/client/test/solid/vitestDemo/cleanup.tsx
  packages/client/test/solid/vitestDemo/index.ts
  packages/client/test/solid/vitestDemo/types.ts
  packages/client/vitest.config.ts
  pnpm-lock.yaml
Labels: client

test(solid): finish statesHookSolid tests
  packages/alova/typings/stateshook/solid.d.ts
  packages/client/src/statesHook/solid.ts
  packages/client/test/solid/statesHook.solid.spec.tsx
  pnpm-lock.yaml
Labels: alova, client

chore: vitest coverage, deps update, eslint update
  .eslintrc.cjs
  internal/mockServer.ts
  package.json
  packages/adapter-taro/package.json
  packages/adapter-taro/test/mockResponse.spec.ts
  packages/alova/src/functions/sendRequest.ts
  packages/alova/src/storage/cacheWrapper.ts
  packages/alova/typings/clienthook/general.d.ts
  packages/alova/typings/serverhook.d.ts
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/hooks/useSSE.ts
  packages/client/src/util/helper.ts
  packages/client/test/functions/createClientTokenAuthentication.spec.ts
  packages/client/test/functions/createServerTokenAuthentication.spec.ts
  packages/client/test/react/useSSE.spec.tsx
  packages/client/test/silent/virtualResponse.spec.ts
  packages/client/test/test-env.d.ts
  packages/client/test/type/exposure.spec-d.ts
  packages/client/test/type/sendArgs.spec-d.ts
  packages/client/test/vue-demi/useFetcher.spec.ts
  packages/client/test/vue/core/hooks/useFetcher.spec.ts
  packages/client/test/vue/core/middleware/useRequest.spec.ts
  packages/client/typings/clienthook/general.d.ts
  packages/psc/package.json
  packages/psc/src/sharedCacheAdapter.ts
  packages/shared/src/function.ts
  packages/shared/src/queueCallback.ts
  packages/vue-options/test/test-env.d.ts
  packages/vue-options/vitest.config.ts
  packages/vue-options/vitest.config.vue2.ts
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Labels: alova, adapter-taro, client, psc, shared, vue-options

chore: undici is no need, raise the coverage ratio
  .npmrc
  internal/vitest.setup.mock.ts
  internal/vitest.setup.ts
  package.json
  packages/adapter-mock/test/mockRequest.spec.ts
  packages/adapter-mock/vitest.config.node.ts
  packages/adapter-mock/vitest.config.ts
  packages/alova/src/functions/sendRequest.ts
  packages/alova/src/index.ts
  packages/alova/src/promiseStatesHook.ts
  packages/alova/src/utils/helper.ts
  packages/alova/test/browser/global/statesHook.spec.ts
  packages/alova/typings/serverhook.d.ts
  packages/client/src/functions/sendRequest.ts
  packages/client/src/hooks/useSSE.ts
  packages/client/src/util/helper.ts
  packages/shared/src/function.ts
  packages/shared/test/__snapshots__/assert.spec.ts.snap
  packages/shared/test/assert.spec.ts
  packages/shared/test/function.spec.ts
  pnpm-lock.yaml
Labels: alova, adapter-mock, client, shared

test: vitest migration completed and all tests were passed
  .eslintrc.cjs
  .vscode/launch.json
  eslint.config.js
  package.json
  packages/adapter-axios/package.json
  packages/adapter-axios/vitest.config.node.ts
  packages/adapter-graphql/package2.json
  packages/adapter-mock/package.json
  packages/adapter-mock/vitest.config.node.ts
  packages/adapter-superagent/package2.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/package.json
  packages/alova/typings/clienthook/general.d.ts
  packages/alova/typings/stateshook/vue-demi.d.ts
  packages/alova/vitest.config.node.ts
  packages/angular/package2.json
  packages/ark-ts/package2.json
  packages/client/package.json
  packages/client/test/type/exposure.spec-d.ts
  packages/client/test/type/sendArgs.spec-d.ts
  packages/client/test/vue-demi/useWatcher.spec.ts
  packages/client/test/vue/core/hooks/useWatcher.spec.ts
  packages/client/vitest.config.ssr.ts
  packages/lit/package2.json
  packages/miniprogram/package2.json
  packages/psc/package.json
  packages/server/package.json
  packages/shared/package.json
  packages/shared/test/function.spec.ts
  packages/stencil/package2.json
  packages/vue-options/package.json
  pnpm-lock.yaml
  tsconfig.json
  turbo.json
  vitest.workspace.ts
Labels: alova, adapter-axios, adapter-graphql, adapter-mock, adapter-superagent, adapter-taro, adapter-uniapp, adapter-xhr, angular, ark-ts, client, lit, miniprogram, psc, server, shared, stencil, vue-options

build: migrate to turbo2
  package.json
  turbo.json
Labels: none

chore: remove the examples' eslint config
  eslint.config.js
  examples/react/.eslintrc.cjs
  examples/react/package.json
  examples/react/src/components/FileViewer.jsx
  examples/svelte/.eslintrc.cjs
  examples/svelte/package.json
  examples/vue/.eslintrc.cjs
  examples/vue/package.json
  examples/vue/src/api/IndexedDBAdapter.js
  package.json
  pnpm-lock.yaml
Labels: example

ci: correct the pnpm version
  .github/workflows/pr.yml
  .github/workflows/release-next.yml
  .github/workflows/release.yml
Labels: ğŸš¨ action

ci: add build step to pr check
  .github/workflows/pr.yml
Labels: ğŸš¨ action

test: fix test error
  examples/server/package.json
  examples/svelte/package.json
  examples/vue/package.json
  package.json
  packages/adapter-axios/vitest.config.node.ts
  packages/vue-options/test/setup.ts
  packages/vue-options/test/test-env.d.ts
  packages/vue-options/vitest.config.ts
  packages/vue-options/vitest.config.vue2.ts
  pnpm-lock.yaml
Labels: example, adapter-axios, vue-options

feat(solid): add solid statesHook, and now solidjs is supported
  .changeset/config.json
  .changeset/lucky-jars-love.md
  packages/alova/package.json
  packages/alova/typings/stateshook/solid.d.ts
  packages/client/build.json
  packages/client/src/statesHook/solid.ts
  packages/client/test/solid/statesHook.solid.spec.tsx
  packages/client/typings/stateshook/solid.d.ts
  packages/client/vitest.config.ts
  vitest.config.ts
Labels: alova, client

fix: fix that not request immediately when set `immediate` and `store` to true
  .changeset/nervous-pumas-invite.md
  packages/client/src/hooks/useForm.ts
  packages/client/test/vue/useForm.spec.ts
Labels: client

chore: fix comment error
  examples/react/src/views/ConditionSearch.jsx
  packages/adapter-xhr/src/helper.ts
  packages/adapter-xhr/typings/index.d.ts
  packages/alova/test/browser/global/createAlova.spec.ts
  packages/alova/test/server/createAlova.spec.ts
  packages/alova/typings/clienthook/general.d.ts
  packages/alova/typings/clienthook/hooks/actionDelegationMiddleware.d.ts
  packages/alova/typings/clienthook/hooks/tokenAuthentication.d.ts
  packages/alova/typings/clienthook/hooks/useAutoRequest.d.ts
  packages/alova/typings/clienthook/hooks/usePagination.d.ts
  packages/alova/typings/clienthook/hooks/useRequest.d.ts
  packages/alova/typings/clienthook/hooks/useRetriable.d.ts
  packages/alova/typings/clienthook/hooks/useSQRequest.d.ts
  packages/alova/typings/clienthook/hooks/useSSE.d.ts
  packages/alova/typings/clienthook/hooks/useSerialRequest.d.ts
  packages/alova/typings/clienthook/hooks/useSerialWatcher.d.ts
  packages/alova/typings/clienthook/hooks/useWatcher.d.ts
  packages/alova/typings/index.d.ts
  packages/alova/typings/serverhook.d.ts
  packages/client/src/hooks/silent/globalVariables.ts
  packages/client/src/hooks/silent/storage/performers.ts
  packages/client/src/hooks/silent/virtualResponse/equals.ts
  packages/client/test/functions/createClientTokenAuthentication.spec.ts
  packages/client/test/functions/createServerTokenAuthentication.spec.ts
  packages/client/test/svelte/core/useWatcher.spec.ts
  packages/client/test/type/exposure.spec-d.ts
  packages/client/test/type/sendArgs.spec-d.ts
  packages/client/test/vue/components/pagination.vue
  packages/client/test/vue/usePagination.spec.ts
  packages/client/typings/clienthook/hooks/useSQRequest.d.ts
  packages/client/vitest.config.ts
  packages/shared/typings/alova-shared.d.ts
Labels: example, alova, adapter-xhr, client, shared

test: fix test failure
  package.json
  packages/adapter-mock/vitest.config.node.ts
  packages/client/vitest.config.ssr.ts
  packages/vue-options/package.json
  packages/vue-options/vitest.config.ts
  packages/vue-options/vitest.config.vue2.ts
  pnpm-lock.yaml
Labels: adapter-mock, client, vue-options

refactor: move the debounce function of all statesHook to unified place
  .changeset/pink-squids-burn.md
  .husky/pre-commit
  .vscode/settings.json
  package.json
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/statesHook/react.ts
  packages/client/src/statesHook/solid.ts
  packages/client/src/statesHook/svelte.ts
  packages/client/src/statesHook/vue-demi.ts
  packages/client/src/statesHook/vue.ts
  packages/client/src/util/helper.ts
  packages/client/test/svelte/core/useWatcher.spec.ts
  packages/psc/test/sharedCache.spec.ts
  scripts/index.js
  scripts/src/build/index.js
  scripts/src/bump/index.js
Labels: client, psc

test: open a forgeted test
  packages/psc/test/sharedCache.spec.ts
Labels: psc

chore: upgrate to svelte4 and relevant testing tools
  package.json
  pnpm-lock.yaml
Labels: none

fix: export `statesHookHelper` from `alova/client`
  .changeset/five-dolls-add.md
  packages/alova/typings/clienthook/helper.d.ts
  packages/alova/typings/clienthook/index.d.ts
  packages/client/src/index.ts
  packages/client/typings/clienthook/helper.d.ts
  packages/client/typings/clienthook/index.d.ts
Labels: alova, client

fix: export `statesHookHelper` from `alova/client` (#578)
  .changeset/five-dolls-add.md
  packages/alova/typings/clienthook/helper.d.ts
  packages/alova/typings/clienthook/index.d.ts
  packages/client/src/index.ts
  packages/client/typings/clienthook/helper.d.ts
  packages/client/typings/clienthook/index.d.ts
Labels: alova, client

fix: fix that debounce not effect in react
  .changeset/blue-otters-doubt.md
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/shared/typings/alova-shared.d.ts
Labels: client, shared

fix: fix that debounce not effect in react (#581)
  .changeset/blue-otters-doubt.md
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/shared/typings/alova-shared.d.ts
Labels: client, shared

fix: allow middleware to interrupt requests in `usePagination`
  .changeset/cuddly-cherries-approve.md
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/test/vue/usePagination.spec.ts
Labels: client

fix: allow middleware to interrupt requests in `usePagination` (#585)
  .changeset/cuddly-cherries-approve.md
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/test/vue/usePagination.spec.ts
Labels: client

fix: remove `page` and `pageSize` parameters from usePagination's send function
  .changeset/fluffy-ducks-shop.md
  packages/alova/typings/clienthook/hooks/usePagination.d.ts
  packages/client/test/type/sendArgs.spec-d.ts
  packages/client/typings/clienthook/hooks/usePagination.d.ts
Labels: alova, client

fix: remove `page` and `pageSize` parameters from usePagination's send function (#589)
  .changeset/fluffy-ducks-shop.md
  packages/alova/typings/clienthook/hooks/usePagination.d.ts
  packages/client/test/type/sendArgs.spec-d.ts
  packages/client/typings/clienthook/hooks/usePagination.d.ts
Labels: alova, client

feat(server): add captcha send and verify server hook
  .changeset/orange-stingrays-yell.md
  packages/server/src/hooks/captcha.ts
  packages/server/src/index.ts
  packages/server/test/captcha.spec.ts
  packages/server/test/retry.spec.ts
Labels: server

fix: resolve issue with delegateMiddleware using outdated context in react
  .changeset/witty-snakes-yawn.md
  .npmrc
  packages/client/src/middlewares/actionDelegation.ts
  packages/client/test/react/actionDelegationMiddleware.spec.tsx
Labels: client

fix: lint fix
  packages/client/test/react/actionDelegationMiddleware.spec.tsx
Labels: client

perf: remove handler on unmount
  packages/client/src/middlewares/actionDelegation.ts
Labels: client

fix: resolve issue with delegateMiddleware using outdated context in react (#598)
  .changeset/witty-snakes-yawn.md
  .npmrc
  packages/client/src/middlewares/actionDelegation.ts
  packages/client/test/react/actionDelegationMiddleware.spec.tsx
Labels: client

fix: setting the cached data if found on useRequest initialization
  .changeset/stupid-needles-play.md
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/test/react/core/useRequest.spec.tsx
  packages/client/test/vue/core/hooks/useRequest-http.spec.ts
Labels: client

fix: setting the cached data if found on useRequest initialization (#600)
  .changeset/stupid-needles-play.md
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/test/react/core/useRequest.spec.tsx
  packages/client/test/vue/core/hooks/useRequest-http.spec.ts
Labels: client

ci: revert .npmrc
  .npmrc
Labels: none

ci: revert .npmrc (#601)
  .npmrc
Labels: none

fix: fix that `fromCache` is undefined in cache hit console
  .changeset/itchy-bottles-tan.md
  packages/alova/src/functions/sendRequest.ts
  packages/alova/test/browser/global/createAlova.spec.ts
Labels: alova

test: add test of disabled global `cacheFor`
  packages/alova/test/browser/behavior/l1Cache.spec.ts
Labels: alova

docs: correct default `multiplier` 0 to 1 in comment
  .changeset/ten-lies-wave.md
  packages/alova/typings/clienthook/hooks/useSQRequest.d.ts
  packages/client/typings/clienthook/hooks/useSQRequest.d.ts
  packages/shared/src/types.ts
  packages/shared/typings/alova-shared.d.ts
Labels: alova, client, shared

fix: split response and cache data with different reference value
  .changeset/sour-games-grin.md
  packages/adapter-mock/src/MockRequest.ts
  packages/alova/src/functions/sendRequest.ts
  packages/alova/test/browser/behavior/l1Cache.spec.ts
  packages/shared/src/function.ts
  packages/shared/test/function.spec.ts
  packages/shared/typings/alova-shared.d.ts
Labels: alova, adapter-mock, shared

fix: do not share request when special request body is exist
  .changeset/selfish-onions-wash.md
  packages/alova/test/browser/behavior/share-request.spec.ts
Labels: alova

fix: only clone array and plain object in `deepClone`
  packages/alova/src/functions/sendRequest.ts
  packages/shared/src/function.ts
  packages/shared/test/function.spec.ts
Labels: alova, shared
