Repository alovajs/alova, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, alova, adapter-axios, adapter-graphql, adapter-mock, adapter-superagent, adapter-taro, adapter-uniapp, adapter-xhr, angular, ark-ts, client, lit, miniprogram, psc, server, shared, stencil, vue-options

test: correct unit test
  packages/alova/test/browser/behavior/l1Cache.spec.ts
Labels: alova

Fix/cloned method from cache (#602)
  .changeset/itchy-bottles-tan.md
  .changeset/selfish-onions-wash.md
  .changeset/sour-games-grin.md
  .changeset/ten-lies-wave.md
  packages/adapter-mock/src/MockRequest.ts
  packages/alova/src/functions/sendRequest.ts
  packages/alova/test/browser/behavior/l1Cache.spec.ts
  packages/alova/test/browser/behavior/share-request.spec.ts
  packages/alova/test/browser/global/createAlova.spec.ts
  packages/alova/typings/clienthook/hooks/useSQRequest.d.ts
  packages/client/typings/clienthook/hooks/useSQRequest.d.ts
  packages/shared/src/function.ts
  packages/shared/src/types.ts
  packages/shared/test/function.spec.ts
  packages/shared/typings/alova-shared.d.ts
Labels: alova, adapter-mock, client, shared

docs: update the README.md
  README.md
  README.zh-CN.md
Labels: none

fix: fix that cannot receive custom params call send `send` in `usePagination`
  .changeset/fresh-eels-smash.md
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/test/react/components/Pagination.tsx
  packages/client/test/react/usePagination.spec.tsx
  packages/client/test/vue/components/pagination.vue
  packages/client/test/vue/usePagination.spec.ts
Labels: client

fix: fix to only clone array and plain object in `deepClone`
  .changeset/ten-foxes-relax.md
  packages/shared/src/function.ts
  packages/shared/test/function.spec.ts
Labels: shared

fix: cannot send custom params with `send` in `usePagination`, only clone array and plain object in `deepClone` (#608)
  .changeset/fresh-eels-smash.md
  .changeset/ten-foxes-relax.md
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/test/react/components/Pagination.tsx
  packages/client/test/react/usePagination.spec.tsx
  packages/client/test/vue/components/pagination.vue
  packages/client/test/vue/usePagination.spec.ts
  packages/shared/src/function.ts
  packages/shared/test/function.spec.ts
Labels: client, shared

feat(adapter-xhr): export xhr instance in `options.create` of adapter
  .changeset/silent-tips-chew.md
  packages/adapter-xhr/src/requestAdapter.ts
  packages/adapter-xhr/test/requestAdapter.spec.ts
  packages/adapter-xhr/typings/index.d.ts
Labels: adapter-xhr

chore: modify `create` to `onCreate`
  packages/adapter-xhr/src/requestAdapter.ts
  packages/adapter-xhr/test/requestAdapter.spec.ts
  packages/adapter-xhr/typings/index.d.ts
Labels: adapter-xhr

feat(adapter-xhr): export xhr instance in `options.create` of adapter (#611)
  .changeset/silent-tips-chew.md
  packages/adapter-xhr/src/requestAdapter.ts
  packages/adapter-xhr/test/requestAdapter.spec.ts
  packages/adapter-xhr/typings/index.d.ts
Labels: adapter-xhr

test: add unit test of response type stream
  packages/adapter-axios/test/server/requestAdapter.spec.ts
  packages/adapter-axios/vitest.config.node.ts
  packages/shared/typings/alova-shared.d.ts
Labels: adapter-axios, shared

fix: mark option type as optional
  .changeset/good-actors-share.md
  packages/adapter-xhr/typings/index.d.ts
Labels: adapter-xhr

fix: mark option type as optional (#623)
  .changeset/good-actors-share.md
  packages/adapter-xhr/typings/index.d.ts
Labels: adapter-xhr

fix: cannot force send request in restore cache mode
  .changeset/swift-suits-wait.md
  internal/mockServer.ts
  internal/testUtils.ts
  packages/alova/src/functions/sendRequest.ts
  packages/alova/test/browser/behavior/l2Cache.spec.ts
Labels: alova

fix: fix that mismatching cache when items clear in last page
  .changeset/little-baboons-wave.md
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/test/react/usePagination.spec.tsx
  packages/client/test/vue/usePagination.spec.ts
Labels: client

fix: cannot force send request in restore cache mode (#627)
  .changeset/swift-suits-wait.md
  internal/mockServer.ts
  internal/testUtils.ts
  packages/alova/src/functions/sendRequest.ts
  packages/alova/test/browser/behavior/l2Cache.spec.ts
Labels: alova

fix: fix that mismatching cache when items clear in last page (#629)
  .changeset/little-baboons-wave.md
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/test/react/usePagination.spec.tsx
  packages/client/test/vue/usePagination.spec.ts
Labels: client

fix: Add optional chaining to headers returned by requestAdapter
  packages/adapter-axios/src/requestAdapter.ts
Labels: adapter-axios

fix: to be compatible with falsy data by axios adapter
  .changeset/famous-gorillas-act.md
  packages/adapter-axios/src/requestAdapter.ts
  packages/adapter-axios/test/browser/requestAdapter.spec.ts
Labels: adapter-axios

fix: Add optional chaining to headers returned by requestAdapter (#639)
  .changeset/famous-gorillas-act.md
  packages/adapter-axios/src/requestAdapter.ts
  packages/adapter-axios/test/browser/requestAdapter.spec.ts
Labels: adapter-axios

fix(@alova/mock): 对数组进行for in ，原型链上设置为可迭代的属性也会被循环，改为常规for循环避免这种情况
  .changeset/strong-swans-tickle.md
  packages/adapter-mock/src/MockRequest.ts
Labels: adapter-mock

fix: modify publish content
  .changeset/strong-swans-tickle.md
Labels: none

fix: shouldn't check l2 cache in memory mode when invalidate cache
  .changeset/ninety-eagles-dream.md
  packages/alova/src/functions/manipulateCache.ts
  packages/alova/test/server/cache.spec.ts
  packages/alova/typings/index.d.ts
Labels: alova

fix the array traversal after editing the prototype (#643)
  .changeset/strong-swans-tickle.md
  packages/adapter-mock/src/MockRequest.ts
Labels: adapter-mock

fix: shouldn't check l2 cache in memory mode when invalidate cache (#644)
  .changeset/ninety-eagles-dream.md
  packages/alova/src/functions/manipulateCache.ts
  packages/alova/test/server/cache.spec.ts
  packages/alova/typings/index.d.ts
Labels: alova

fix: fix that l2Cache is not defined in `invalidateCache`
  .changeset/giant-maps-cheat.md
  packages/alova/src/alova.ts
  packages/alova/src/defaults/cacheAdapter.ts
  packages/alova/test/server/cache.spec.ts
  packages/alova/test/server/createAlova.spec.ts
  packages/alova/typings/serverhook.d.ts
Labels: alova

fix: fix that l2Cache is not defined in `invalidateCache` (#649)
  .changeset/giant-maps-cheat.md
  packages/alova/src/alova.ts
  packages/alova/src/defaults/cacheAdapter.ts
  packages/alova/test/server/cache.spec.ts
  packages/alova/test/server/createAlova.spec.ts
  packages/alova/typings/serverhook.d.ts
Labels: alova

fix(mock): 修复post请求data为字符串时处理异常的问题
  packages/adapter-mock/src/MockRequest.ts
  packages/adapter-mock/typings/index.d.ts
Labels: adapter-mock

test(mock): 补充test
  packages/adapter-mock/test/mockRequest.spec.ts
Labels: adapter-mock

test(mock): 新增测试用例
  packages/adapter-mock/test/mockRequest.spec.ts
Labels: adapter-mock

docs: add changeset file
  .changeset/young-moose-check.md
Labels: none

Merge pull request #654 from Nakus0426/mock-string-data-parse-error
  .changeset/young-moose-check.md
  packages/adapter-mock/src/MockRequest.ts
  packages/adapter-mock/test/mockRequest.spec.ts
  packages/adapter-mock/typings/index.d.ts
Labels: adapter-mock

fix: prevent baseURL concatenation when URL is absolute (#653)
  .changeset/shaggy-cars-bathe.md
  packages/shared/src/function.ts
  packages/shared/test/function.spec.ts
  packages/shared/typings/alova-shared.d.ts
Labels: shared

fix(adapter-mock): fix that cannot receive headers default in mock adapter
  .changeset/angry-impalas-doubt.md
  packages/adapter-mock/src/defaults.ts
  packages/adapter-mock/test/mockRequest.spec.ts
Labels: adapter-mock

fix(adapter-mock): fix that cannot receive headers default in mock adapter (#660)
  .changeset/angry-impalas-doubt.md
  packages/adapter-mock/src/defaults.ts
  packages/adapter-mock/test/mockRequest.spec.ts
Labels: adapter-mock

fix: fix the issue where the on method in useSSE cannot be chained
  .changeset/long-llamas-sell.md
  packages/alova/typings/clienthook/hooks/useSSE.d.ts
  packages/client/src/event.ts
  packages/client/src/hooks/useSSE.ts
  packages/client/test/react/useSSE.spec.tsx
  packages/client/test/type/exposure.spec-d.ts
  packages/client/test/vue/components/use-sse.vue
  packages/client/typings/clienthook/hooks/useSSE.d.ts
Labels: alova, client

feat: add `alova.Request`, useUploader, sse with fetch
  packages/alova/src/Method.ts
  packages/alova/src/alova.ts
  packages/alova/src/functions/sendRequest.ts
  packages/alova/test/browser/global/methodInstance.spec.ts
  packages/alova/typings/index.d.ts
  packages/client/src/event.ts
  packages/client/src/hooks/sse/FetchEventSource.ts
  packages/client/src/hooks/uploader/event.ts
  packages/client/src/hooks/uploader/useUploader.ts
  packages/client/src/hooks/useSSE.ts
  packages/client/test/vue/core/hooks/useRequest-method.spec.ts
  packages/client/typings/clienthook/hooks/useUploader.d.ts
  packages/shared/src/function.ts
  packages/shared/test/function.spec.ts
  packages/shared/typings/alova-shared.d.ts
Labels: alova, client, shared

fix(types): correct type declaration of `accessAction()`
  packages/alova/typings/clienthook/hooks/actionDelegationMiddleware.d.ts
  packages/client/test/type/actionDelegation.spec-d.ts
  packages/client/typings/clienthook/hooks/actionDelegationMiddleware.d.ts
Labels: alova, client

fix(test): ensure vitest runs typecheck correctly
  .changeset/lemon-waves-leave.md
  packages/client/vitest.config.ssr.ts
  vitest.config.base.ts
Labels: client

fix: fix the issue where the on method in useSSE cannot be chained (#676)
  .changeset/long-llamas-sell.md
  packages/alova/typings/clienthook/hooks/useSSE.d.ts
  packages/client/src/event.ts
  packages/client/src/hooks/useSSE.ts
  packages/client/test/react/useSSE.spec.tsx
  packages/client/test/type/exposure.spec-d.ts
  packages/client/test/vue/components/use-sse.vue
  packages/client/typings/clienthook/hooks/useSSE.d.ts
Labels: alova, client

fix(types): correct type declaration of `accessAction()` #673 (#677)
  .changeset/lemon-waves-leave.md
  packages/alova/typings/clienthook/hooks/actionDelegationMiddleware.d.ts
  packages/client/test/type/actionDelegation.spec-d.ts
  packages/client/typings/clienthook/hooks/actionDelegationMiddleware.d.ts
  packages/client/vitest.config.ssr.ts
  vitest.config.base.ts
Labels: alova, client

.github/labeler.yml:

# See https://github.com/actions/labeler

'example':
  - examples/**/*

'ğŸš¨ action':
  - .github/workflows/**

'alova':
  - packages/alova/**

'adapter-axios':
  - packages/adapter-axios/**

'adapter-graphql':
  - packages/adapter-graphql/**

'adapter-mock':
  - packages/adapter-mock/**

'adapter-superagent':
  - packages/adapter-superagent/**

'adapter-taro':
  - packages/adapter-taro/**

'adapter-uniapp':
  - packages/adapter-uniapp/**

'adapter-xhr':
  - packages/adapter-xhr/**

'angular':
  - packages/angular/**

'ark-ts':
  - packages/ark-ts/**

'client':
  - packages/client/**

'lit':
  - packages/lit/**

'miniprogram':
  - packages/miniprogram/**

'psc':
  - packages/psc/**

'server':
  - packages/server/**

'shared':
  - packages/shared/**

'stencil':
  - packages/stencil/**

'vue-options':
  - packages/vue-options/**
