Repository alovajs/alova, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ğŸš¨ action, alova, adapter-axios, adapter-graphql, adapter-mock, adapter-superagent, adapter-taro, adapter-uniapp, adapter-xhr, angular, ark-ts, client, lit, miniprogram, psc, server, shared, stencil, vue-options

.github/labeler.yml:

# See https://github.com/actions/labeler

'example':
  - examples/**/*

'ğŸš¨ action':
  - .github/workflows/**

'alova':
  - packages/alova/**

'adapter-axios':
  - packages/adapter-axios/**

'adapter-graphql':
  - packages/adapter-graphql/**

'adapter-mock':
  - packages/adapter-mock/**

'adapter-superagent':
  - packages/adapter-superagent/**

'adapter-taro':
  - packages/adapter-taro/**

'adapter-uniapp':
  - packages/adapter-uniapp/**

'adapter-xhr':
  - packages/adapter-xhr/**

'angular':
  - packages/angular/**

'ark-ts':
  - packages/ark-ts/**

'client':
  - packages/client/**

'lit':
  - packages/lit/**

'miniprogram':
  - packages/miniprogram/**

'psc':
  - packages/psc/**

'server':
  - packages/server/**

'shared':
  - packages/shared/**

'stencil':
  - packages/stencil/**

'vue-options':
  - packages/vue-options/**

fix:https://github.com/alovajs/alova/issues/711
  .changeset/fresh-singers-yell.md
  packages/alova/src/predefine/adapterFetch.ts
Labels: alova

fix:https://github.com/alovajs/alova/issues/711
  .changeset/hot-bears-design.md
  .changeset/khaki-eagles-wash.md
Labels: none

详细可见：https://github.com/alovajs/alova/issues/711 (#712)
  .changeset/fresh-singers-yell.md
  packages/alova/src/predefine/adapterFetch.ts
Labels: alova

fix: compare states hook with name string instead of instance
  .changeset/smooth-trainers-hang.md
  packages/alova/src/alova.ts
  packages/alova/test/browser/global/createAlova.spec.ts
  packages/client/src/hooks/useForm.ts
  packages/client/test/modules/stateshook.spec.ts
Labels: alova, client

feat: update the MethodType type to support string extension
  .changeset/plenty-countries-tickle.md
  packages/alova/typings/index.d.ts
Labels: alova

fix: refactor the feature multiple form in `useForm`
  .changeset/yellow-files-reply.md
  examples/react/src/views/FormHook/MultiForm.jsx
  examples/solid/src/views/FormHook/MultiForm.jsx
  examples/vue/src/views/FormHook/MultiForm/FormOne.vue
  examples/vue/src/views/FormHook/MultiForm/index.vue
  packages/client/src/hooks/useForm.ts
  packages/client/src/statesHook/nuxt.ts
  packages/client/test/vue/components/form.vue
  packages/client/test/vue/components/restore-persistent-data.vue
  packages/client/test/vue/useForm.spec.ts
Labels: example, client

fix: form storaged key unified states hook (#719)
  .changeset/smooth-trainers-hang.md
  .changeset/yellow-files-reply.md
  examples/react/src/views/FormHook/MultiForm.jsx
  examples/solid/src/views/FormHook/MultiForm.jsx
  examples/vue/src/views/FormHook/MultiForm/FormOne.vue
  examples/vue/src/views/FormHook/MultiForm/index.vue
  packages/alova/src/alova.ts
  packages/alova/test/browser/global/createAlova.spec.ts
  packages/client/src/hooks/useForm.ts
  packages/client/src/statesHook/nuxt.ts
  packages/client/test/modules/stateshook.spec.ts
  packages/client/test/vue/components/form.vue
  packages/client/test/vue/components/restore-persistent-data.vue
  packages/client/test/vue/useForm.spec.ts
Labels: example, alova, client

Merge pull request #698 from shlroland/custom_method_type
  .changeset/plenty-countries-tickle.md
  packages/alova/typings/index.d.ts
Labels: alova

refactor: override `appendFiles` definintion of typescript
  packages/client/typings/clienthook/hooks/useUploader.d.ts
Labels: client

fix: fix that `this.$dhy` is not a function in miniprogram of alipay
  .changeset/tiny-shirts-fly.md
  packages/shared/src/FrameworkState.ts
Labels: shared

fix: fix that the `isSSR` is `true` in alipay miniprogram
  .changeset/rich-glasses-hang.md
  packages/shared/src/vars.ts
  packages/shared/test/isSSR.spec.ts
Labels: shared

fix(nuxt): trigger request in usehook calling without `await` in nuxt environment
  .changeset/slimy-oranges-battle.md
  packages/alova/typings/clienthook/hooks/useUploader.d.ts
  packages/alova/typings/index.d.ts
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/statesHook/nuxt.ts
  packages/client/src/util/helper.ts
  packages/client/test/nuxt/stateshook-client.spec.ts
  packages/client/test/nuxt/stateshook-common.spec.ts
  packages/client/test/nuxt/stateshook-server.spec.ts
  packages/client/test/solid/statesHook.solid.spec.tsx
  packages/client/test/ssr/hooks-vue.spec.ts
  packages/client/tsconfig.vitest-temp.json
Labels: alova, client

fix: compatible with `Event` which is not in browser
  .changeset/tame-points-dress.md
  packages/client/src/hooks/sse/event.ts
Labels: client

Fix/nuxthook ssefetch (#722)
  .changeset/rich-glasses-hang.md
  .changeset/slimy-oranges-battle.md
  .changeset/tame-points-dress.md
  .changeset/tiny-shirts-fly.md
  packages/alova/typings/clienthook/hooks/useUploader.d.ts
  packages/alova/typings/index.d.ts
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/hooks/sse/event.ts
  packages/client/src/statesHook/nuxt.ts
  packages/client/src/util/helper.ts
  packages/client/test/nuxt/stateshook-client.spec.ts
  packages/client/test/nuxt/stateshook-common.spec.ts
  packages/client/test/nuxt/stateshook-server.spec.ts
  packages/client/test/solid/statesHook.solid.spec.tsx
  packages/client/test/ssr/hooks-vue.spec.ts
  packages/client/tsconfig.vitest-temp.json
  packages/shared/src/FrameworkState.ts
  packages/shared/src/vars.ts
  packages/shared/test/isSSR.spec.ts
Labels: alova, client, shared

fix(nuxt): fix that doesn't request in client in nuxt environment
  packages/client/src/statesHook/nuxt.ts
  packages/client/test/nuxt/stateshook-client.spec.ts
  packages/client/test/nuxt/stateshook-server.spec.ts
Labels: client

fix: infinite reconnect when server disconnect (#716)
  .changeset/long-islands-care.md
  packages/alova/typings/clienthook/hooks/useSSE.d.ts
  packages/client/src/hooks/sse/EventSourceFetch.ts
  packages/client/src/hooks/sse/useSSE.ts
  packages/client/test/react/useSSE.spec.tsx
  packages/client/test/sseServer.ts
  packages/client/typings/clienthook/hooks/useSSE.d.ts
Labels: alova, client

fix: incorrect event binding
  packages/client/src/hooks/sse/useSSE.ts
Labels: client

fix: typo in d.ts
  .changeset/smart-pugs-kiss.md
  packages/alova/typings/index.d.ts
Labels: alova

feat: respects `retry` field in useSSE
  .changeset/long-islands-care.md
  packages/client/src/hooks/sse/EventSourceFetch.ts
  packages/client/test/react/useSSE.spec.tsx
  packages/client/test/sseServer.ts
Labels: client

fix: typo in d.ts (#725)
  .changeset/smart-pugs-kiss.md
  packages/alova/typings/index.d.ts
Labels: alova

fix: update useSSE types and remove deprecated fields
  packages/alova/typings/clienthook/hooks/useSSE.d.ts
  packages/client/src/hooks/sse/EventSourceFetch.ts
  packages/client/src/hooks/sse/useSSE.ts
  packages/client/test/react/useSSE.spec.tsx
  packages/client/tsconfig.vitest-temp.json
  packages/client/typings/clienthook/hooks/useSSE.d.ts
Labels: alova, client

fix: update EventSourceFetch to accept reconnectionTime parameter and adjust useSSE implementation
  packages/client/src/hooks/sse/EventSourceFetch.ts
  packages/client/src/hooks/sse/useSSE.ts
  packages/client/test/react/useSSE.spec.tsx
Labels: client

fix: incorrect expose type of `eventSource` (#727)
  .changeset/dry-pianos-sniff.md
  packages/client/src/hooks/sse/useSSE.ts
  packages/client/test/react/useSSE.spec.tsx
Labels: client

fix: correct the types in `useSSE`
  .changeset/long-islands-care.md
  packages/alova/typings/clienthook/hooks/useSSE.d.ts
  packages/client/typings/clienthook/hooks/useSSE.d.ts
  packages/shared/typings/alova-shared.d.ts
Labels: alova, client, shared

fix: infinite reconnect when server disconnect (#724)
  .changeset/dry-pianos-sniff.md
  .changeset/long-islands-care.md
  packages/alova/typings/clienthook/hooks/useSSE.d.ts
  packages/client/src/hooks/sse/EventSourceFetch.ts
  packages/client/src/hooks/sse/useSSE.ts
  packages/client/test/react/useSSE.spec.tsx
  packages/client/test/sseServer.ts
  packages/client/tsconfig.vitest-temp.json
  packages/client/typings/clienthook/hooks/useSSE.d.ts
  packages/shared/typings/alova-shared.d.ts
Labels: alova, client, shared

ci: release (#726)
  .changeset/dry-pianos-sniff.md
  .changeset/long-islands-care.md
  .changeset/smart-pugs-kiss.md
  packages/alova/CHANGELOG.md
  packages/alova/package.json
Labels: alova

Update globalfetch.d.cts
  typings/globalfetch.d.cts
Labels: none

Update globalfetch.d.cts (#732)
  typings/globalfetch.d.cts
Labels: none

Update README.md
  README.md
Labels: none

Update README.md (#760)
  README.md
Labels: none

fix: redis storage adpater data error fixed
  examples/vue/src/api/methods.js
  examples/vue/src/routes.js
  examples/vue/src/views/SSE.vue
  packages/client/src/hooks/sse/EventSourceFetch.ts
  packages/server/src/hooks/captcha.ts
  packages/storage-redis/src/RedisStorageAdapter.ts
  pnpm-lock.yaml
Labels: example, client, server

ci: add changeset file
  .changeset/nine-zebras-watch.md
Labels: none

test: modify test files
  packages/server/test/captcha.spec.ts
  packages/storage-redis/src/RedisStorageAdapter.ts
  packages/storage-redis/test/redis.spec.ts
Labels: server

fix: data structure error in redis storage adapter (#768)
  .changeset/nine-zebras-watch.md
  examples/vue/src/api/methods.js
  examples/vue/src/routes.js
  examples/vue/src/views/SSE.vue
  packages/client/src/hooks/sse/EventSourceFetch.ts
  packages/server/src/hooks/captcha.ts
  packages/server/test/captcha.spec.ts
  packages/storage-redis/src/RedisStorageAdapter.ts
  packages/storage-redis/test/redis.spec.ts
  pnpm-lock.yaml
Labels: example, client, server

feat: add locker feature in storage-file and storage-redis adapters
  .changeset/brown-carrots-turn.md
  .changeset/twenty-cars-sip.md
  packages/alova/typings/index.d.ts
  packages/server/src/hooks/atomize.ts
  packages/server/src/hooks/retry.ts
  packages/server/src/index.ts
  packages/server/test/atomize.spec.ts
  packages/storage-file/package.json
  packages/storage-file/src/FileLocker.ts
  packages/storage-file/src/FileStorageAdapter.ts
  packages/storage-file/test/locker.spec.ts
  packages/storage-file/tsconfig.json
  packages/storage-redis/package.json
  packages/storage-redis/src/RedisLocker.ts
  packages/storage-redis/src/RedisStorageAdapter.ts
  packages/storage-redis/test/locker.spec.ts
  packages/storage-redis/test/redis.spec.ts
  pnpm-lock.yaml
Labels: alova, server

fix: the `abort` from hooks can be awaited
  .changeset/orange-poets-applaud.md
  packages/alova/src/functions/sendRequest.ts
Labels: alova

feat: request headers will be ignored when set to the falsy value
  .changeset/grumpy-drinks-explain.md
  .changeset/orange-poets-applaud.md
  .changeset/rude-crabs-return.md
  internal/mockServer.ts
  internal/testUtils.ts
  packages/adapter-xhr/src/requestAdapter.ts
  packages/adapter-xhr/test/requestAdapter.spec.ts
  packages/alova/src/Method.ts
  packages/alova/src/functions/sendRequest.ts
  packages/alova/src/predefine/adapterFetch.ts
  packages/alova/test/browser/global/methodInstance.spec.ts
  packages/alova/test/browser/requestAdapter/GlobalFetch.spec.ts
  packages/alova/typings/clienthook/general.d.ts
  packages/alova/typings/clienthook/hooks/useUploader.d.ts
  packages/alova/typings/index.d.ts
  packages/alova/typings/serverhook.d.ts
  packages/client/README.md
  packages/client/src/hooks/uploader/useUploader.ts
  packages/client/test/vue/core/hooks/useRequest-http.spec.ts
  packages/client/typings/clienthook/general.d.ts
  packages/client/typings/clienthook/hooks/useUploader.d.ts
  packages/storage-file/src/FileLocker.ts
  packages/storage-file/test/locker.spec.ts
Labels: alova, adapter-xhr, client

feat(@alova/adapter-xhr): headers will be ignored when set to the falsy value
  .changeset/twenty-donkeys-ring.md
Labels: none

ci: add release files
  .changeset/few-carpets-jog.md
  .changeset/grumpy-drinks-explain.md
  .changeset/rude-crabs-return.md
Labels: none

chore: lint errors fixed
  packages/server/test/atomize.spec.ts
  packages/storage-redis/src/RedisLocker.ts
  packages/storage-redis/src/RedisStorageAdapter.ts
  packages/storage-redis/test/locker.spec.ts
Labels: server
