Repository alovajs/alova, pull requests merged in 2024-08, with the labels that each got.

#491 ci: release
  .changeset/polite-cheetahs-impress.md
  .changeset/spicy-moose-pull.md
  packages/adapter-axios/CHANGELOG.md
  packages/adapter-axios/package.json
  packages/adapter-mock/CHANGELOG.md
  packages/adapter-mock/package.json
  packages/adapter-taro/CHANGELOG.md
  packages/adapter-taro/package.json
  packages/adapter-uniapp/CHANGELOG.md
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/CHANGELOG.md
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/CHANGELOG.md
  packages/psc/package.json
  packages/server/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/vue-options/CHANGELOG.md
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, shared, vue-options

#494 fix: compatible with preact when using react
  .changeset/strange-needles-cry.md
  packages/alova/typings/stateshook/react.d.ts
  packages/client/src/statesHook/react.ts
  packages/client/typings/clienthook/hooks/useForm.d.ts
  packages/client/typings/stateshook/react.d.ts
Labels: alova, client

#495 ci: release
  .changeset/strange-needles-cry.md
  packages/adapter-axios/package.json
  packages/adapter-mock/package.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options

#498 ci: release
  .changeset/curly-students-melt.md
  packages/adapter-axios/package.json
  packages/adapter-mock/package.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options

#499 fix(vue-demi): fix that statesHook vue-demi is not found
  .changeset/nine-wombats-marry.md
  packages/alova/package.json
  packages/alova/typings/stateshook/vue-demi.d.ts
  packages/client/jest.config.ts
  packages/client/test/vue-demi/useFetcher.spec.ts
  packages/client/test/vue-demi/useRequest-http.spec.ts
  packages/client/test/vue-demi/useWatcher.spec.ts
Labels: alova, client

#500 ci: release
  .changeset/nine-wombats-marry.md
  packages/adapter-axios/package.json
  packages/adapter-mock/package.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options

#503 fix(react): uploading and downloading from usehooks do not update by calling send in react
  .changeset/four-fishes-accept.md
  packages/client/src/hooks/core/implements/createRequestState.ts
Labels: client

#504 ci: release
  .changeset/four-fishes-accept.md
  packages/adapter-axios/package.json
  packages/adapter-mock/package.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options

#505 fix: prevent null response for text type #501
  .changeset/twelve-lions-compare.md
  internal/mockServer.ts
  packages/adapter-xhr/src/requestAdapter.ts
  packages/adapter-xhr/test/requestAdapter.spec.ts
Labels: adapter-xhr

#506 ci: release
  .changeset/twelve-lions-compare.md
  packages/adapter-xhr/CHANGELOG.md
  packages/adapter-xhr/package.json
Labels: adapter-xhr

#508 fix: `msBeforeNext` not reduce in server/rate-limit (#462)
  .changeset/proud-dolls-think.md
  packages/server/src/hooks/rateLimit.ts
  packages/server/test/rateLimit.spec.ts
Labels: server

#509 ci: release
  .changeset/proud-dolls-think.md
  packages/adapter-axios/package.json
  packages/adapter-mock/package.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options

#511 fix(client): to be effective for `usePagination` when calling `updateState`
  .changeset/quiet-tigers-rhyme.md
  examples/server/routes/rateLimit.ts
  examples/server/views/rateLimit.html
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/src/hooks/useCaptcha.ts
  packages/client/test/vue/usePagination.spec.ts
  pnpm-lock.yaml
Labels: example, client

#512 ci: release
  .changeset/quiet-tigers-rhyme.md
  packages/adapter-axios/package.json
  packages/adapter-mock/package.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options

#514 fix: correct key listData to data in usePagination
  .changeset/metal-radios-clean.md
  packages/alova/typings/clienthook/general.d.ts
  packages/alova/typings/clienthook/hooks/updateState.d.ts
  packages/alova/typings/index.d.ts
  packages/client/src/hooks/core/implements/createHook.ts
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/hooks/core/implements/stateCache.ts
  packages/client/src/hooks/core/implements/useHookToSendRequest.ts
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/src/updateState.ts
  packages/client/test/react/core/update-state.spec.tsx
  packages/client/test/react/usePagination.spec.tsx
  packages/client/test/react/useRetriableRequest.spec.tsx
  packages/client/test/vue/core/functional/update-state.spec.ts
  packages/client/test/vue/usePagination.spec.ts
  packages/client/typings/clienthook/general.d.ts
  packages/client/typings/clienthook/hooks/updateState.d.ts
Labels: alova, client

#515 ci: release
  .changeset/metal-radios-clean.md
  packages/adapter-axios/package.json
  packages/adapter-mock/package.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options

#517 fix: fix formData typof of `useForm`
  .changeset/fifty-dancers-walk.md
  packages/alova/typings/clienthook/hooks/useForm.d.ts
  packages/client/typings/clienthook/hooks/useForm.d.ts
Labels: alova, client

#519 ci: release
  .changeset/fifty-dancers-walk.md
  packages/adapter-axios/package.json
  packages/adapter-mock/package.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options

#522 doc: fix taro README.md
  .changeset/rotten-meals-enjoy.md
  packages/adapter-taro/README.md
Labels: adapter-taro

#524 fix: cannot import types from `@alova/shared` in the build (close #523)
  .changeset/tasty-ravens-shave.md
  packages/shared/package.json
  pnpm-lock.yaml
Labels: shared

#525 ci: release
  .changeset/rotten-meals-enjoy.md
  .changeset/tasty-ravens-shave.md
  packages/adapter-axios/CHANGELOG.md
  packages/adapter-axios/package.json
  packages/adapter-mock/CHANGELOG.md
  packages/adapter-mock/package.json
  packages/adapter-taro/CHANGELOG.md
  packages/adapter-taro/package.json
  packages/adapter-uniapp/CHANGELOG.md
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/CHANGELOG.md
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/CHANGELOG.md
  packages/psc/package.json
  packages/server/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/vue-options/CHANGELOG.md
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, shared, vue-options
