Repository alovajs/alova, pull requests merged in 2024-10, with the labels that each got.

#549 fix(alova/fetch): fix that cannot found alova/fetch in ts5.6
  .changeset/itchy-apricots-tan.md
  packages/alova/package.json
  packages/alova/typings/fetch.d.cts
  packages/alova/typings/fetch.d.ts
Labels: alova

#554 ci: release
  .changeset/itchy-apricots-tan.md
  packages/adapter-axios/package.json
  packages/adapter-mock/package.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options

#557 fix: publish fetch.d.cts
  .changeset/nine-coats-complain.md
  packages/alova/package.json
  packages/alova/tsconfig.json
Labels: alova

#558 ci: release
  .changeset/nine-coats-complain.md
  packages/adapter-axios/package.json
  packages/adapter-mock/package.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options

#561 ci: release
  .changeset/gorgeous-birds-yell.md
  packages/adapter-axios/package.json
  packages/adapter-mock/package.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options

#564 ci: release
  .changeset/bright-ducks-hide.md
  .changeset/cuddly-falcons-camp.md
  .changeset/empty-singers-yell.md
  .changeset/silly-glasses-glow.md
  packages/adapter-axios/CHANGELOG.md
  packages/adapter-axios/package.json
  packages/adapter-mock/CHANGELOG.md
  packages/adapter-mock/package.json
  packages/adapter-taro/CHANGELOG.md
  packages/adapter-taro/package.json
  packages/adapter-uniapp/CHANGELOG.md
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/CHANGELOG.md
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/psc/CHANGELOG.md
  packages/psc/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/vue-options/CHANGELOG.md
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, psc, shared, vue-options

#569 fix: the type issue of `useForm` and `shared` package
  .changeset/funny-meals-ring.md
  .changeset/loud-eggs-listen.md
  packages/alova/typings/clienthook/hooks/actionDelegationMiddleware.d.ts
  packages/alova/typings/clienthook/hooks/useAutoRequest.d.ts
  packages/alova/typings/clienthook/hooks/useCaptcha.d.ts
  packages/alova/typings/clienthook/hooks/useForm.d.ts
  packages/alova/typings/clienthook/hooks/usePagination.d.ts
  packages/alova/typings/clienthook/hooks/useRetriable.d.ts
  packages/alova/typings/clienthook/hooks/useSQRequest.d.ts
  packages/alova/typings/clienthook/hooks/useSerialRequest.d.ts
  packages/client/src/hooks/useAutoRequest.ts
  packages/client/src/hooks/useCaptcha.ts
  packages/client/src/hooks/useForm.ts
  packages/client/test/type/exposure.spec.ts
  packages/client/test/vue/useForm.spec.ts
  packages/client/tsconfig.json
  packages/client/typings/clienthook/hooks/actionDelegationMiddleware.d.ts
  packages/client/typings/clienthook/hooks/useAutoRequest.d.ts
  packages/client/typings/clienthook/hooks/useCaptcha.d.ts
  packages/client/typings/clienthook/hooks/useForm.d.ts
  packages/client/typings/clienthook/hooks/usePagination.d.ts
  packages/client/typings/clienthook/hooks/useRetriable.d.ts
  packages/client/typings/clienthook/hooks/useSQRequest.d.ts
  packages/client/typings/clienthook/hooks/useSerialRequest.d.ts
  packages/shared/src/model/FrameworkState.ts
Labels: alova, client, shared
