Repository alovajs/alova, pull requests merged in 2024-09, with the labels that each got.

#528 fix: correct exposure type of usePagination
  .changeset/honest-lizards-grin.md
  README.md
  README.zh-CN.md
  internal/testUtils.ts
  packages/alova/typings/clienthook/general.d.ts
  packages/alova/typings/clienthook/hooks/useCaptcha.d.ts
  packages/alova/typings/clienthook/hooks/useForm.d.ts
  packages/alova/typings/clienthook/hooks/usePagination.d.ts
  packages/alova/typings/clienthook/hooks/useRetriable.d.ts
  packages/client/test/type/exposure.spec.ts
  packages/client/typings/clienthook/general.d.ts
  packages/client/typings/clienthook/hooks/useCaptcha.d.ts
  packages/client/typings/clienthook/hooks/useForm.d.ts
  packages/client/typings/clienthook/hooks/usePagination.d.ts
  packages/client/typings/clienthook/hooks/useRetriable.d.ts
Labels: alova, client

#531 ci: release
  .changeset/honest-lizards-grin.md
  packages/adapter-axios/package.json
  packages/adapter-mock/package.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options

#533 ci: release
  .changeset/rich-hornets-smash.md
  packages/adapter-axios/CHANGELOG.md
  packages/adapter-axios/package.json
  packages/adapter-mock/CHANGELOG.md
  packages/adapter-mock/package.json
  packages/adapter-taro/CHANGELOG.md
  packages/adapter-taro/package.json
  packages/adapter-uniapp/CHANGELOG.md
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/CHANGELOG.md
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/CHANGELOG.md
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/CHANGELOG.md
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options

#546 fix: unified the request that the types contain request body to be `undefined`
  .changeset/shiny-balloons-sit.md
  packages/alova/src/alova.ts
  packages/alova/test/browser/behavior/l1Cache.spec.ts
  packages/alova/test/browser/behavior/l2Cache.spec.ts
  packages/alova/test/browser/global/methodInstance.spec.ts
Labels: alova

#547 ci: release
  .changeset/shiny-balloons-sit.md
  packages/adapter-axios/package.json
  packages/adapter-mock/package.json
  packages/adapter-taro/package.json
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/package.json
  packages/psc/package.json
  packages/server/package.json
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, client, psc, server, vue-options
