Repository alovajs/alova, pull requests merged in 2024-11, with the labels that each got.

#577 ci: release
  .changeset/lucky-jars-love.md
  .changeset/nervous-pumas-invite.md
  .changeset/old-peas-tell.md
  .changeset/pink-squids-burn.md
  packages/adapter-axios/CHANGELOG.md
  packages/adapter-axios/package.json
  packages/adapter-mock/CHANGELOG.md
  packages/adapter-mock/package.json
  packages/adapter-taro/CHANGELOG.md
  packages/adapter-taro/package.json
  packages/adapter-uniapp/CHANGELOG.md
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/CHANGELOG.md
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/psc/CHANGELOG.md
  packages/psc/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/vue-options/CHANGELOG.md
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, psc, shared, vue-options

#578 fix: export `statesHookHelper` from `alova/client`
  .changeset/five-dolls-add.md
  packages/alova/typings/clienthook/helper.d.ts
  packages/alova/typings/clienthook/index.d.ts
  packages/client/src/index.ts
  packages/client/typings/clienthook/helper.d.ts
  packages/client/typings/clienthook/index.d.ts
Labels: alova, client

#579 ci: release
  .changeset/five-dolls-add.md
  packages/alova/CHANGELOG.md
  packages/alova/package.json
Labels: alova

#581 fix: fix that debounce not effect in react
  .changeset/blue-otters-doubt.md
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/shared/typings/alova-shared.d.ts
Labels: client, shared

#582 ci: release
  .changeset/blue-otters-doubt.md
  packages/alova/CHANGELOG.md
  packages/alova/package.json
Labels: alova

#585 fix: allow middleware to interrupt requests in `usePagination`
  .changeset/cuddly-cherries-approve.md
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/test/vue/usePagination.spec.ts
Labels: client

#587 ci: release
  .changeset/cuddly-cherries-approve.md
  packages/alova/CHANGELOG.md
  packages/alova/package.json
Labels: alova

#589 fix: remove `page` and `pageSize` parameters from usePagination's send function
  .changeset/fluffy-ducks-shop.md
  packages/alova/typings/clienthook/hooks/usePagination.d.ts
  packages/client/test/type/sendArgs.spec-d.ts
  packages/client/typings/clienthook/hooks/usePagination.d.ts
Labels: alova, client

#590 ci: release
  .changeset/fluffy-ducks-shop.md
  packages/alova/CHANGELOG.md
  packages/alova/package.json
Labels: alova

#600 fix: setting the cached data if found on useRequest initialization
  .changeset/stupid-needles-play.md
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/test/react/core/useRequest.spec.tsx
  packages/client/test/vue/core/hooks/useRequest-http.spec.ts
Labels: client

#599 ci: release
  .changeset/stupid-needles-play.md
  .changeset/witty-snakes-yawn.md
  packages/alova/CHANGELOG.md
  packages/alova/package.json
Labels: alova

#602 Fix/cloned method from cache
  .changeset/itchy-bottles-tan.md
  .changeset/selfish-onions-wash.md
  .changeset/sour-games-grin.md
  .changeset/ten-lies-wave.md
  packages/adapter-mock/src/MockRequest.ts
  packages/alova/src/functions/sendRequest.ts
  packages/alova/test/browser/behavior/l1Cache.spec.ts
  packages/alova/test/browser/behavior/share-request.spec.ts
  packages/alova/test/browser/global/createAlova.spec.ts
  packages/alova/typings/clienthook/hooks/useSQRequest.d.ts
  packages/client/typings/clienthook/hooks/useSQRequest.d.ts
  packages/shared/src/function.ts
  packages/shared/src/types.ts
  packages/shared/test/function.spec.ts
  packages/shared/typings/alova-shared.d.ts
Labels: alova, adapter-mock, client, shared

#603 ci: release
  .changeset/itchy-bottles-tan.md
  .changeset/selfish-onions-wash.md
  .changeset/sour-games-grin.md
  .changeset/ten-lies-wave.md
  packages/adapter-axios/CHANGELOG.md
  packages/adapter-axios/package.json
  packages/adapter-mock/CHANGELOG.md
  packages/adapter-mock/package.json
  packages/adapter-taro/CHANGELOG.md
  packages/adapter-taro/package.json
  packages/adapter-uniapp/CHANGELOG.md
  packages/adapter-uniapp/package.json
  packages/adapter-xhr/CHANGELOG.md
  packages/adapter-xhr/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/psc/CHANGELOG.md
  packages/psc/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/vue-options/CHANGELOG.md
  packages/vue-options/package.json
Labels: alova, adapter-axios, adapter-mock, adapter-taro, adapter-uniapp, adapter-xhr, psc, shared, vue-options
