Repository alovajs/alova, pull requests merged in 2025-02, with the labels that each got.

#639 fix: Add optional chaining to headers returned by requestAdapter
  .changeset/famous-gorillas-act.md
  packages/adapter-axios/src/requestAdapter.ts
  packages/adapter-axios/test/browser/requestAdapter.spec.ts
Labels: adapter-axios

#640 ci: release
  .changeset/famous-gorillas-act.md
  packages/adapter-axios/CHANGELOG.md
  packages/adapter-axios/package.json
Labels: adapter-axios

#643 fix the array traversal after editing the prototype
  .changeset/strong-swans-tickle.md
  packages/adapter-mock/src/MockRequest.ts
Labels: adapter-mock

#644 fix: shouldn't check l2 cache in memory mode when invalidate cache
  .changeset/ninety-eagles-dream.md
  packages/alova/src/functions/manipulateCache.ts
  packages/alova/test/server/cache.spec.ts
  packages/alova/typings/index.d.ts
Labels: alova

#645 ci: release
  .changeset/ninety-eagles-dream.md
  .changeset/strong-swans-tickle.md
  packages/adapter-mock/CHANGELOG.md
  packages/adapter-mock/package.json
  packages/alova/CHANGELOG.md
  packages/alova/package.json
Labels: alova, adapter-mock
