Repository alovajs/alova, pull requests merged in 2025-06, with the labels that each got.

#709 build: add `skipLibCheck` to typescript in rollup build
  package.json
  packages/alova/package.json
  packages/alova/typings/clienthook/general.d.ts
  packages/alova/typings/stateshook/nuxt.d.ts
  packages/shared/typings/alova-shared.d.ts
  pnpm-lock.yaml
  scripts/src/build/rollup.config.js
Labels: alova, shared

#712 详细可见：https://github.com/alovajs/alova/issues/711
  .changeset/fresh-singers-yell.md
  packages/alova/src/predefine/adapterFetch.ts
Labels: alova

#713 ci: release
  .changeset/fresh-singers-yell.md
  packages/alova/CHANGELOG.md
  packages/alova/package.json
Labels: alova

#719 fix: form storaged key unified states hook
  .changeset/smooth-trainers-hang.md
  .changeset/yellow-files-reply.md
  examples/react/src/views/FormHook/MultiForm.jsx
  examples/solid/src/views/FormHook/MultiForm.jsx
  examples/vue/src/views/FormHook/MultiForm/FormOne.vue
  examples/vue/src/views/FormHook/MultiForm/index.vue
  packages/alova/src/alova.ts
  packages/alova/test/browser/global/createAlova.spec.ts
  packages/client/src/hooks/useForm.ts
  packages/client/src/statesHook/nuxt.ts
  packages/client/test/modules/stateshook.spec.ts
  packages/client/test/vue/components/form.vue
  packages/client/test/vue/components/restore-persistent-data.vue
  packages/client/test/vue/useForm.spec.ts
Labels: example, alova, client

#698 feat: update the MethodType type to support string extension
  .changeset/plenty-countries-tickle.md
  packages/alova/typings/index.d.ts
Labels: alova

#720 ci: release
  .changeset/plenty-countries-tickle.md
  .changeset/smooth-trainers-hang.md
  .changeset/yellow-files-reply.md
  packages/alova/CHANGELOG.md
  packages/alova/package.json
  packages/client/typings/clienthook/hooks/useUploader.d.ts
Labels: alova, client

#725 fix: typo in d.ts
  .changeset/smart-pugs-kiss.md
  packages/alova/typings/index.d.ts
Labels: alova

#724 fix: infinite reconnect when server disconnect (#716)
  .changeset/dry-pianos-sniff.md
  .changeset/long-islands-care.md
  packages/alova/typings/clienthook/hooks/useSSE.d.ts
  packages/client/src/hooks/sse/EventSourceFetch.ts
  packages/client/src/hooks/sse/useSSE.ts
  packages/client/test/react/useSSE.spec.tsx
  packages/client/test/sseServer.ts
  packages/client/tsconfig.vitest-temp.json
  packages/client/typings/clienthook/hooks/useSSE.d.ts
  packages/shared/typings/alova-shared.d.ts
Labels: alova, client, shared
