Repository alovajs/alova, pull requests merged in 2025-05, with the labels that each got.

#676 fix: `on` method in useSSE cannot be chained #670
  .changeset/long-llamas-sell.md
  packages/alova/typings/clienthook/hooks/useSSE.d.ts
  packages/client/src/event.ts
  packages/client/src/hooks/useSSE.ts
  packages/client/test/react/useSSE.spec.tsx
  packages/client/test/type/exposure.spec-d.ts
  packages/client/test/vue/components/use-sse.vue
  packages/client/typings/clienthook/hooks/useSSE.d.ts
Labels: alova, client

#677 fix(types): correct type declaration of `accessAction()` #673
  .changeset/lemon-waves-leave.md
  packages/alova/typings/clienthook/hooks/actionDelegationMiddleware.d.ts
  packages/client/test/type/actionDelegation.spec-d.ts
  packages/client/typings/clienthook/hooks/actionDelegationMiddleware.d.ts
  packages/client/vitest.config.ssr.ts
  vitest.config.base.ts
Labels: alova, client

#678 ci: release
  .changeset/lemon-waves-leave.md
  .changeset/long-llamas-sell.md
  packages/alova/CHANGELOG.md
  packages/alova/package.json
Labels: alova

#686 fix: delay update `isLastPage` so that it can wait for the `loading` state to be updated
  .changeset/great-numbers-poke.md
  examples/react/package.json
  examples/solid/package.json
  examples/svelte/package.json
  examples/vue/package.json
  package.json
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/src/util/helper.ts
  packages/shared/src/bridge.ts
  packages/shared/src/index.ts
  packages/shared/typings/alova-shared.d.ts
  packages/vue-options/src/mapAlovaHook.ts
  packages/vue-options/src/stateHook.ts
  packages/vue-options/typings/index.d.ts
  pnpm-lock.yaml
Labels: example, client, shared, vue-options

#687 fix: fix that cannot update state which is the same key but distribute in different component
  .changeset/giant-dragons-relate.md
  packages/alova/typings/index.d.ts
  packages/client/src/hooks/core/implements/createHook.ts
  packages/client/src/hooks/core/implements/createRequestState.ts
  packages/client/src/hooks/core/implements/stateCache.ts
  packages/client/src/hooks/core/implements/useHookToSendRequest.ts
  packages/client/src/statesHook/react.ts
  packages/client/src/updateState.ts
  packages/client/test/react/actionDelegationMiddleware.spec.tsx
  packages/client/test/react/core/update-state.spec.tsx
  packages/client/test/react/core/useRequest.spec.tsx
  packages/client/test/react/useAutoRequest.spec.tsx
  packages/client/test/solid/statesHook.solid.spec.tsx
  packages/client/test/svelte/core/update-state.spec.ts
  packages/client/test/vue/core/functional/update-state.spec.ts
  packages/client/typings/clienthook/general.d.ts
Labels: alova, client
