Repository alovajs/alova, pull requests merged in 2025-01, with the labels that each got.

#623 fix: mark option type as optional
  .changeset/good-actors-share.md
  packages/adapter-xhr/typings/index.d.ts
Labels: adapter-xhr

#625 ci: release
  .changeset/good-actors-share.md
  packages/adapter-xhr/CHANGELOG.md
  packages/adapter-xhr/package.json
Labels: adapter-xhr

#627 fix: cannot force send request in restore cache mode
  .changeset/swift-suits-wait.md
  internal/mockServer.ts
  internal/testUtils.ts
  packages/alova/src/functions/sendRequest.ts
  packages/alova/test/browser/behavior/l2Cache.spec.ts
Labels: alova

#629 fix: fix that mismatching cache when items clear in last page
  .changeset/little-baboons-wave.md
  packages/client/src/hooks/pagination/usePagination.ts
  packages/client/test/react/usePagination.spec.tsx
  packages/client/test/vue/usePagination.spec.ts
Labels: client

#630 ci: release
  .changeset/little-baboons-wave.md
  .changeset/swift-suits-wait.md
  packages/alova/CHANGELOG.md
  packages/alova/package.json
Labels: alova
